<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thay đổi đơn vị cho cá nhân</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">
                  Thay đổi đơn vị cho cá nhân
                </li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Sử dụng form</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label>Cán bộ<span class="text-danger">(*)</span></label>
                      <span style="float: right"
                        >Đã chọn : {{ form.code_number.length }}</span
                      >
                      <multiselect
                        v-model="form.code_number"
                        :options="staffOptions"
                        :multiple="true"
                        :close-on-select="false"
                        :preselect-first="true"
                        placeholder="Bạn cần tìm..."
                        :custom-label="multiSelectOptions"
                        track-by="text"
                      >
                      </multiselect>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Đơn vị mới<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.unit_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn hình thức --</option
                        >
                        <option
                          v-for="item in unitOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Multiselect from "vue-multiselect";
import Error403 from "../error/index403";

export default {
  name: "Add",
  components: {
    Multiselect,
    Error403
  },
  data() {
    return {
      file: "",
      form: {
        code_number: [],
        school_id: 0,
        unit_id: 0
      }
    };
  },
  mounted() {
    this.loadStaffData();
    this.loadUnitData();
  },
  computed: {
    ...mapState("change_personal_add", {
      basicInfo: "basicInfo"
    }),
    ...mapState("staffs_ac", {
      staffOptions: state => state.staffOptions
    }),
    ...mapState("user_ad_ac", {
      schoolOptions: state => state.schoolOptions,
      unitOptions: state => state.unitOptions
    }),
    ...mapGetters("change_personal_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("staffs_ac", {
      loadStaffData: "loadStaffData"
    }),
    ...mapActions("change_personal_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions("user_ad_ac", {
      changeSchool: "changeSchool",
      changeUnit: "changeUnit",
      changeStaff: "changeStaff",
      loadUnitData: "loadUnitData"
    }),
    // Show select with name and unit
    multiSelectOptions({ text, txtUnit }) {
      return `${text} — [${txtUnit}]`;
    },
    submit() {
      this.doSubmit()
        .then(() => {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã thêm thành công"
          });
          this.$emit("ok");
          this.$router.push("/changePersonal");
        })
        .catch(err => {
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  },
  watch: {
    "form.code_number": function() {
      this.setBasicInfo(this.form);
    },
    "form.school_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.unit_id": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
