<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Kỷ luật</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Kỷ luật</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <button v-else class="btn btn-success" @click="createData">
                    Thêm mới
                  </button>
                  <export-excel
                    :data="list_disciplines_export"
                    :fields="json_fields"
                    name="ky_luat_ca_nhan"
                    class="btn btn-outline-info"
                  >
                    Tải bản đầy đủ
                  </export-excel>
                  <vue-excel-xlsx
                    class="btn btn-outline-dark"
                    :data="list_disciplines_export"
                    :columns="columns"
                    :filename="'ky_luat_can_bo'"
                    :sheetname="'Kỷ luật cán bộ'"
                  >
                    Tải bản mã
                  </vue-excel-xlsx>
                  <div class="card-tools">
                    <div
                      class="input-group input-group-sm"
                      style="width: 200px;"
                    >
                      <input
                        type="text"
                        v-model="searchAll"
                        @keyup="debounceSocket()"
                        class="form-control"
                        id="inputCity"
                        placeholder="Bạn cần tìm..."
                      />
                    </div>
                  </div>
                  <!--              Search options-->
                  <div class="form-row mt-3">
                    <div class="form-group col-md-3">
                      <label for="inputState">Cơ quan</label>
                      <select
                        id="inputState"
                        class="form-control"
                        v-model="searchDecisionAgency"
                      >
                        <option value="0" selected>Chọn cơ quan...</option>
                        <option
                          v-for="item in decisionAgencyOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState2">Hình thức</label>
                      <select
                        id="inputState2"
                        v-model="searchFormsOfDiscipline"
                        class="form-control"
                      >
                        <option value="0" selected>Chọn hình thức...</option>
                        <option
                          v-for="item in formsOfDisciplineOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label>Bắt đầu</label>
                      <input
                        type="date"
                        class="form-control"
                        v-model="sign_date"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>Kết thúc</label>
                      <input
                        type="date"
                        class="form-control"
                        v-model="received_date"
                      />
                    </div>
                    <div class="col-md-1">
                      <label class="mt-5"></label>
                      <button
                        class="btn btn-primary"
                        @click="getFilter"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Lọc"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                  <!--              END Search options-->
                </div>

                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in list_disciplines.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.staffs.full_name }}</td>
                        <td>{{ item.units.name }}</td>
                        <td>{{ item.decision_id }}</td>
                        <td>{{ item.forms_of_disciplines.name }}</td>
                        <td>{{ item.decision_agencies.name }}</td>
                        <td>
                          {{ new Date(item.discipline_date).getFullYear() }}
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'discipline.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-dark btn-sm mr-1"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_disciplines.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="search">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100000">Toàn bộ</option>
                    </select>
                  </span>
                  <span>/ {{ list_disciplines.total }} cán bộ</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_disciplines.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
        <LineChart />
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import DisciplineService from "../../services/discipline";
import { mapGetters, mapActions, mapState } from "vuex";
import * as _ from "lodash";
import Paginate from "vuejs-paginate";
import axios from "../../axios";
import Error403 from "../error/index403";
import LineChart from "./common/LineChart.vue";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403,
    LineChart
  },
  data() {
    return {
      list_disciplines: [],
      list_disciplines_export: [],
      isLoading: false,
      searchAll: "",
      file: "",
      searchDecisionAgency: 0,
      searchFormsOfDiscipline: 0,
      sign_date: "",
      received_date: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Cán bộ", key: "code_number", sort: true },
        { title: "Đơn vị", key: "unit_id", sort: true },
        { title: "Quyết định", key: "decision_id", sort: true },
        {
          title: "Hình thức kỷ luật",
          key: "forms_of_discipline_id",
          sort: true
        },
        { title: "Cơ quan quyết định", key: "decision_agency_id", sort: true },
        { title: "Năm", key: "discipline_date", sort: true }
      ],
      json_fields: {
        "Số hiệu cán bộ": "code_number",
        "Họ tên cán bộ": "staffs.full_name",
        "Đơn vị trên cơ sở": "schools.name",
        "Đơn vị cơ sở": "units.name",
        "Hình thức kỷ luật": "forms_of_disciplines.name",
        "Quyết định": "decision_id",
        "Cơ quan quyết định": "decision_agencies.name",
        Năm: "discipline_date"
      },
      columns: [
        {
          label: "code_number",
          field: "code_number"
        },
        {
          label: "unit_id",
          field: "unit_id"
        },
        {
          label: "forms_of_discipline_id",
          field: "forms_of_discipline_id"
        },
        {
          label: "decision_agency_id",
          field: "decision_agency_id"
        },
        {
          label: "decision_id",
          field: "decision_id"
        },
        {
          label: "pending_remove",
          field: "pending_remove"
        }
      ]
    };
  },
  created() {
    this.getList();
  },
  mounted() {
    this.loadDecisionAgencyData();
    this.loadFormsOfDisciplineData();
  },
  computed: {
    ...mapState("decision_agency_ac", {
      decisionAgencyOptions: state => state.decisionAgencyOptions
    }),
    ...mapState("forms_of_discipline_ac", {
      formsOfDisciplineOptions: state => state.formsOfDisciplineOptions
    }),
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("decision_agency_ac", {
      loadDecisionAgencyData: "loadDecisionAgencyData"
    }),
    ...mapActions("forms_of_discipline_ac", {
      loadFormsOfDisciplineData: "loadFormsOfDisciplineData"
    }),
    createData() {
      this.$router.push("/discipline/add");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      DisciplineService.getAll(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          this.list_disciplines = response.data.data;
          this.list_disciplines_export = response.data.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return DisciplineService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      DisciplineService.getSearch(
        p.page,
        p.per_page,
        p.sort_column,
        p.direction,
        {
          keyText: this.searchAll
        }
      ).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.searchDecisionAgency = 0;
          this.searchFormsOfDiscipline = 0;
          this.sign_date = "";
          this.received_date = "";
          this.list_disciplines = response.data.data;
          this.list_disciplines_export = response.data.data.data;
        } else {
          this.getFilter();
        }
      });
    },
    getFilter() {
      let p = this.params;
      axios
        .post(
          "discipline/searchOptions?page=" +
            p.page +
            "&per_page=" +
            p.per_page +
            "&sort_column=" +
            p.sort_column +
            "&direction=" +
            p.direction,
          {
            keyOptionDecisionAgency: this.searchDecisionAgency,
            keyOptionFormsOfDiscipline: this.searchFormsOfDiscipline,
            sign_date: this.sign_date,
            received_date: this.received_date
          }
        )
        .then(response => {
          this.params.page = 1;
          this.searchAll = "";
          this.list_disciplines = response.data.data;
          this.list_disciplines_export = response.data.data.data;
        });
    }
  }
};
</script>
