<template>
  <div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Đơn vị trên cơ sở</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn vị trên cơ sở</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <div v-else>
                    <button class="btn btn-success" @click="createData">
                      Thêm mới
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã đơn vị trên cơ sở</th>
                        <th>Tên đơn vị trên cơ sở</th>
                        <th>Ngày thành lập</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in list_schools" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.school_id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.build_date | moment("DD-MM-YYYY") }}</td>
                        <td>
                          <router-link
                            :to="{
                              name: 'school.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-dark btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_schools.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import SchoolService from "../../services/school";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    Error403
  },
  data() {
    return {
      list_schools: [],
      isLoading: false
    };
  },
  created() {
    this.getList();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    createData() {
      this.$router.push("/school/add");
    },
    getList() {
      this.isLoading = true;
      SchoolService.getAll()
        .then(response => {
          this.isLoading = false;
          this.list_schools = response.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return SchoolService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    }
  }
};
</script>
