<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Số hiệu cán bộ {{ this.id }}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thành tích cá nhân</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <!--                    <div class="col">-->
                    <!--                      <label>Danh hiệu<span class="text-danger">(*)</span></label>-->
                    <!--                      <select v-model="form.personal_title_id" class="form-control select2" style="width: 100%;">-->
                    <!--                        <option selected value="null">&#45;&#45; chọn danh hiệu &#45;&#45;</option>-->
                    <!--                        <option v-for="item in personalTitleOptions" :key="item.value" :value="item.value">-->
                    <!--                          {{item.text}}-->
                    <!--                        </option>-->
                    <!--                      </select>-->
                    <!--                    </div>-->
                    <div class="col">
                      <label
                        >Hình thức<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.forms_of_reward_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn hình thức --</option
                        >
                        <option
                          v-for="item in formsOfRewardOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Quyết định<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.decision_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn quyết định --</option
                        >
                        <option
                          v-for="item in decisionOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Cơ quan quyết định<span class="text-danger"
                          >(*)</span
                        ></label
                      >
                      <select
                        v-model="form.decision_agency_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn cơ quan quyết định --</option
                        >
                        <option
                          v-for="item in decisionAgencyOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Thời gian<span class="text-danger">(*)</span></label
                      >
                      <input
                        type="date"
                        v-model="form.reward_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Error403 from "../error/index403";

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      id: this.$route.params.id,
      form: {
        code_number: "",
        // personal_title_id: null,
        forms_of_reward_id: null,
        decision_agency_id: 1,
        decision_id: 1,
        reward_date: ""
      }
    };
  },
  mounted() {
    this.form.code_number = this.id;
    // this.loadPersonalTitleData()
    this.loadFormsOfRewardData();
    this.loadDecisionData();
    this.loadDecisionAgencyData();
  },
  computed: {
    ...mapState("personal_achievements_add", {
      basicInfo: "basicInfo"
    }),
    // ...mapState('personal_title_ac', {
    //   personalTitleOptions: state => state.personalTitleOptions
    // }),
    ...mapState("forms_of_reward_ac", {
      formsOfRewardOptions: state => state.formsOfRewardOptions
    }),
    ...mapState("decision_agency_ac", {
      decisionAgencyOptions: state => state.decisionAgencyOptions
    }),
    ...mapState("decision_ac", {
      decisionOptions: state => state.decisionOptions
    }),
    ...mapGetters("personal_achievements_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    // ...mapActions('personal_title_ac', {
    //   loadPersonalTitleData: 'loadPersonalTitleData'
    // }),
    ...mapActions("forms_of_reward_ac", {
      loadFormsOfRewardData: "loadFormsOfRewardData"
    }),
    ...mapActions("decision_agency_ac", {
      loadDecisionAgencyData: "loadDecisionAgencyData"
    }),
    ...mapActions("decision_ac", {
      loadDecisionData: "loadDecisionData"
    }),
    ...mapActions("personal_achievements_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    submit() {
      this.doSubmit()
        .then(() => {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã thêm thành công"
          });
          this.$emit("ok");
          this.$router.push("/personalAchievements/" + this.id);
        })
        .catch(err => {
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  },
  watch: {
    "form.code_number": function() {
      this.setBasicInfo(this.form);
    },
    "form.forms_of_reward_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.decision_agency_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.decision_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.reward_date": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
