<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thêm mới</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn vị trực thuộc cơ sở</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Tên đơn vị trực thuộc cơ sở
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.name.$dirty">
                        <span class="error" v-if="!$v.form.name.required"
                          >Tên đơn vị trực thuộc cơ sở không được bỏ
                          trống!</span
                        >
                        <span class="error" v-if="!$v.form.name.minLength"
                          >Tên đơn vị trực thuộc cơ sở ít nhất
                          {{ $v.form.name.$params.minLength.min }} kí tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.name.$model"
                      :class="{
                        'is-invalid': $v.form.name.$error,
                        'is-valid': !$v.form.name.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Ngày thành lập
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.build_date.$dirty">
                        <span class="error" v-if="!$v.form.build_date.required"
                          >Ngày thành lập không được bỏ trống!</span
                        >
                        <br />
                        <span class="error" v-if="!$v.form.build_date.minDate"
                          >Ngày thành lập phải nhỏ hơn ngày hiện tại.</span
                        >
                      </div>
                    </div>
                    <input
                      type="date"
                      v-model="$v.form.build_date.$model"
                      :class="{
                        'is-invalid': $v.form.build_date.$error,
                        'is-valid': !$v.form.build_date.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Thuộc đơn vị trên cơ sở</label>
                    <div style="float: right">
                      <div v-if="$v.form.school_id.$dirty">
                        <span class="error" v-if="!$v.form.school_id.required"
                          >Đơn vị trên cơ sở không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.school_id.selectVal"
                          >Đơn vị trên cơ sở không hợp lệ!</span
                        >
                      </div>
                    </div>
                    <select
                      v-model="$v.form.school_id.$model"
                      class="form-control select2"
                      :class="{
                        'is-invalid': $v.form.school_id.$error,
                        'is-valid': !$v.form.school_id.$invalid
                      }"
                      style="width: 100%;"
                    >
                      <option
                        v-for="item in schoolOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Thuộc đơn vị cơ sở</label>
                    <div style="float: right">
                      <div v-if="$v.form.unit_id.$dirty">
                        <span class="error" v-if="!$v.form.unit_id.required"
                          >Đơn vị cơ sở không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.unit_id.selectVal"
                          >Đơn vị cơ sở không hợp lệ!</span
                        >
                      </div>
                    </div>
                    <select
                      v-model="$v.form.unit_id.$model"
                      class="form-control select2"
                      :class="{
                        'is-invalid': $v.form.unit_id.$error,
                        'is-valid': !$v.form.unit_id.$invalid
                      }"
                      style="width: 100%;"
                    >
                      <option
                        v-for="item in unitOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import Error403 from "../error/index403";
import { required, minLength } from "vuelidate/lib/validators";
const minDate = value => new Date(value).getTime() <= Date.now();

const selectVal = value => value != 0;

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      form: {
        school_id: 0,
        unit_id: 0,
        name: "",
        build_date: ""
      }
    };
  },
  validations: {
    form: {
      unit_id: {
        required,
        selectVal
      },
      name: {
        required,
        minLength: minLength(3)
      },
      build_date: {
        required,
        minDate
      },
      school_id: {
        required,
        selectVal
      }
    }
  },
  mounted() {
    this.loadSchoolData();
    this.loadAddress();
  },
  computed: {
    ...mapState("team_ac", {
      schoolOptions: state => state.schoolOptions,
      unitOptions: state => state.unitOptions
    }),
    ...mapGetters("team_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("team_ac", {
      changeSchool: "changeSchool",
      changeUnit: "changeUnit"
    }),
    ...mapActions("team_ac", {
      loadSchoolData: "loadSchoolData"
    }),
    ...mapActions("team_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),

    loadAddress() {
      this.form.school_id = 0;
      this.form.unit_id = 0;

      this.changeSchool(this.form.school_id);
      this.changeUnit(this.form.unit_id);

      this.setBasicInfo(this.form);
    },

    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        this.doSubmit()
          .then(() => {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã thêm thành công"
            });
            this.$emit("ok");
            this.$router.push("/team");
          })
          .catch(err => {
            this.isSubmitting = false;
            let arr = [];
            let errors = err.response.data.errors;

            Object.keys(errors).forEach(function(key) {
              arr.push(errors[key]);
            });

            this.$swal({
              icon: "error",
              showConfirmButton: false,
              title: "Đăng tin không thành công",
              html: JSON.stringify(arr)
            });
          });
      }
    },
    reset() {
      // this.doReset();
      this.form.school_id = 0;
      this.form.unit_id = 0;
      this.form.name = "";
      this.form.build_date = "";
    }
  },
  watch: {
    "form.school_id": function(newVal) {
      this.form.unit_id = 0;

      this.changeSchool(newVal);
      this.setBasicInfo(this.form);
    },

    "form.unit_id": function(newVal) {
      this.changeUnit(newVal);
      this.setBasicInfo(this.form);
    },
    "form.name": function() {
      this.setBasicInfo(this.form);
    },
    "form.build_date": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
