<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Danh hiệu tập thể</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh hiệu tập thể</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Mã danh hiệu tập thể
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.collective_title_id.$dirty">
                        <span
                          class="error"
                          v-if="!$v.form.collective_title_id.required"
                          >Mã danh hiệu tập thể không được bỏ trống!</span
                        >
                        <span
                          class="error"
                          v-if="!$v.form.collective_title_id.minLength"
                          >Mã danh hiệu tập thể ít nhất
                          {{
                            $v.form.collective_title_id.$params.minLength.min
                          }}
                          kí tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.collective_title_id.$model"
                      :class="{
                        'is-invalid': $v.form.collective_title_id.$error,
                        'is-valid': !$v.form.collective_title_id.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Tên danh hiệu tập thể
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.name.$dirty">
                        <span class="error" v-if="!$v.form.name.required"
                          >Tên danh hiệu tập thể không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.name.minLength"
                          >Tên danh hiệu tập thể ít nhất
                          {{ $v.form.name.$params.minLength.min }} kí tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.name.$model"
                      :class="{
                        'is-invalid': $v.form.name.$error,
                        'is-valid': !$v.form.name.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Error403 from "../error/index403";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      form: {
        collective_title_id: "",
        name: ""
      }
    };
  },
  validations: {
    form: {
      collective_title_id: {
        required,
        minLength: minLength(3)
      },
      name: {
        required,
        minLength: minLength(3)
      }
    }
  },
  computed: {
    ...mapGetters("collective_title_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("collective_title_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        this.doSubmit()
          .then(() => {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã thêm thành công"
            });
            this.$emit("ok");
            this.$router.push("/collectiveTitle");
          })
          .catch(err => {
            this.$swal(
              "Đăng tin không thành công",
              JSON.stringify(err.response.data)
            );
          });
      }
    },
    reset() {
      this.form.collective_title_id = "";
      this.form.name = "";
    }
  },
  watch: {
    "form.collective_title_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.name": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
