<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div
      class="content-wrapper"
      v-if="
        setUserDetails.role === 'Administrator' ||
          setUserDetails.role === 'checker'
      "
    >
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Đăng kí thi đua đơn vị</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đăng kí thi đua đơn vị</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin đăng kí</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label>Đơn vị<span class="text-danger">(*)</span></label>
                      <span style="float: right"
                        >Đã chọn : {{ form.unit_id.length }}</span
                      >
                      <multiselect
                        v-model="form.unit_id"
                        :options="unitOptions"
                        :multiple="true"
                        :close-on-select="false"
                        :preselect-first="true"
                        placeholder="Bạn cần tìm..."
                        :custom-label="multiSelectOptions"
                        track-by="text"
                      >
                      </multiselect>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Danh hiệu<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.collective_title_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1">-- chọn danh hiệu --</option>
                        <option
                          v-for="item in collectiveTitleOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Thời gian<span class="text-danger">(*)</span></label
                      >
                      <input
                        type="date"
                        v-model="form.reward_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.content-wrapper -->
    <div v-if="!setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Multiselect from "vue-multiselect";
import Error403 from "../error/index403";

export default {
  name: "Add",
  components: {
    Multiselect,
    Error403
  },
  data() {
    return {
      file: "",
      form: {
        user_id: 0,
        school_id: 0,
        unit_id: [],
        collective_title_id: 1,
        reward_date: ""
      }
    };
  },
  mounted() {
    this.loadCollectiveTitleData();
    this.loadUnitData();
    this.form.user_id = this.setUserDetails.id;
  },
  computed: {
    ...mapState("checked_collective_reward_add", {
      basicInfo: "basicInfo"
    }),
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions
    }),
    ...mapState("collective_title_ac", {
      collectiveTitleOptions: state => state.collectiveTitleOptions
    }),
    ...mapGetters("checked_collective_reward_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData"
    }),
    ...mapActions("collective_title_ac", {
      loadCollectiveTitleData: "loadCollectiveTitleData"
    }),
    ...mapActions("checked_collective_reward_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions({
      me: "auth/me"
    }),
    // Show select with name and unit
    multiSelectOptions({ text, txtSchool }) {
      return `${text} — [${txtSchool}]`;
    },
    submit() {
      this.me()
        .then(() => {
          this.doSubmit()
            .then(() => {
              this.$swal({
                showConfirmButton: false,
                timer: 10000,
                icon: "success",
                title: "Thông báo",
                text: "Đã thêm thành công"
              });
              this.$emit("ok");
              this.$router.push("/checkedCollectiveReward");
            })
            .catch(err => {
              this.$swal(
                "Đăng tin không thành công",
                JSON.stringify(err.response.data)
              );
            });
        })
        .catch(err => {
          console.log(err);
          this.$router.push("/login");
        });
    }
  },
  watch: {
    "form.user_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.school_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.unit_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.collective_title_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.reward_date": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
