<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div
      class="content-wrapper"
      v-if="
        setUserDetails.role === 'Administrator' ||
          setUserDetails.role === 'checker'
      "
    >
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Đăng kí thi đua đơn vị</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đăng kí thi đua đơn vị</li>
                <li class="breadcrumb-item active">Chỉnh sửa</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Tài khoản đăng kí<span class="text-danger"
                        >(*)</span
                      ></label
                    >
                    <input
                      readonly
                      type="text"
                      v-model="form.users.username"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Đơn vị<span class="text-danger">(*)</span></label>
                    <input
                      readonly
                      type="text"
                      v-model="form.unit_id"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Danh hiệu<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.collective_title_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1">-- chọn danh hiệu --</option>
                        <option
                          v-for="item in collectiveTitleOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Thời gian<span class="text-danger">(*)</span></label
                      >
                      <input
                        type="date"
                        v-model="form.reward_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="!setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import CheckedCollectiveRewardService from "../../services/checked_collective_reward";
import { mapGetters, mapActions, mapState } from "vuex";
import Error403 from "../error/index403";

export default {
  name: "Edit",
  components: {
    Error403
  },
  data() {
    return {
      isLoading: false,
      isSubmitting: false,
      form: {
        user_id: 0,
        approved_by: 0,
        school_id: "",
        unit_id: "",
        collective_title_id: "",
        reward_date: ""
      }
    };
  },
  mounted() {
    this.loadCollectiveTitleData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions
    }),
    ...mapState("collective_title_ac", {
      collectiveTitleOptions: state => state.collectiveTitleOptions
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData"
    }),
    ...mapActions("collective_title_ac", {
      loadCollectiveTitleData: "loadCollectiveTitleData"
    }),
    ...mapActions({
      me: "auth/me"
    }),
    getShow() {
      this.me()
        .then(() => {
          this.isLoading = true;
          CheckedCollectiveRewardService.show(this.$route.params.id).then(
            response => {
              this.isLoading = false;
              this.form = response.data;
            }
          );
        })
        .catch(err => {
          console.log(err);
          this.$router.push("/login");
        });
    },
    submit() {
      this.form.approved_by = this.setUserDetails.id;
      this.isSubmitting = true;
      CheckedCollectiveRewardService.update(this.$route.params.id, this.form)
        .then(() => {
          this.isSubmitting = false;
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã cập nhật thành công"
          });
          this.$emit("ok");
          this.$router.push("/checkedCollectiveReward");
        })
        .catch(err => {
          this.isSubmitting = false;
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  }
};
</script>
