<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Khen thưởng và kỷ luật cá nhân</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">
                  So sánh khen thưởng và kỷ luật
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <LineChart />
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <BarChart />
            </div>
            <div class="col-sm">
              <Table />
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapGetters } from "vuex";
import Error403 from "../error/index403";
import LineChart from "./common/LineChart.vue";
import Table from "./common/Table.vue";
import BarChart from "./common/BarChart";

export default {
  name: "Index",
  components: {
    BarChart,
    Error403,
    LineChart,
    Table
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  }
};
</script>
