<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <br />
    <strong
      ><center>Bảng thống kê số lượng khen thưởng và kỷ luật</center></strong
    >
    <br />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Năm</th>
          <th scope="col">Khen thưởng</th>
          <th scope="col">Kỷ luật</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in collection" :key="index">
          <th scope="row">{{ item.getKey }}</th>
          <td>{{ item.getVal1 }}</td>
          <td>{{ item.getVal2 }}</td>
        </tr>
      </tbody>
    </table>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapGetters } from "vuex";
import DisciplineService from "../../../services/compare";

export default {
  name: "Index",
  data() {
    return {
      collection: []
    };
  },
  mounted() {
    this.getList();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getList() {
      this.isLoading = true;
      DisciplineService.getChart()
        .then(response => {
          this.isLoading = false;

          let obj = response.data.data;

          this.collection = obj;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    }
  }
};
</script>
