<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">
                Chọn định dạng phù hợp để nhập Excel!
              </h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Nâng cao</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="mb-2">
                <span>Bạn chưa có biểu mẫu?</span>
                <a
                  href="https://drive.google.com/open?id=1kbHuBlo4CoAbFJ0Sy7ONugaLSAOQ8gv8"
                  target="_blank"
                  >Biểu mẫu nhập Excel</a
                >
                <div>
                  <b>Cán bộ, thành tích và kỷ luật</b>
                </div>
              </div>
              <imp-excel :imp-ex="file"></imp-excel>
            </div>

            <div class="col-lg-12 col-12 mt-5">
              <div class="mb-2">
                <span>Bạn chưa có biểu mẫu?</span>
                <a
                  href="https://drive.google.com/open?id=1kbHuBlo4CoAbFJ0Sy7ONugaLSAOQ8gv8"
                  target="_blank"
                  >Biểu mẫu nhập Excel</a
                >
                <div>
                  <b>Cán bộ và thành tích</b>
                </div>
              </div>
              <imp-excel-step2 :imp-ex="file"></imp-excel-step2>
            </div>

            <div class="col-lg-12 col-12 mt-5">
              <div class="mb-2">
                <span>Bạn chưa có biểu mẫu?</span>
                <a
                  href="https://drive.google.com/open?id=1kbHuBlo4CoAbFJ0Sy7ONugaLSAOQ8gv8"
                  target="_blank"
                  >Biểu mẫu nhập Excel</a
                >
                <div>
                  <b>Cán bộ và kỷ luật</b>
                </div>
              </div>
              <imp-excel-step3 :imp-ex="file"></imp-excel-step3>
            </div>
          </div>
          <!-- Main row -->
        </div>
        <!-- /.container-fluid -->
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import ImpExcel from "./step1.vue";
import ImpExcelStep2 from "./step2.vue";
import ImpExcelStep3 from "./step3.vue";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    ImpExcel,
    ImpExcelStep2,
    ImpExcelStep3,
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      file: ""
    };
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  }
};
</script>
