<template>
  <div class="w-100">
    <div class="input-group">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="inputGroupFile04"
          @change="listOnImageChange"
          accept=".xlsx"
        />
        <label class="custom-file-label" for="inputGroupFile04">{{
          this.file_name
        }}</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-dark w-100" @click="sbImport">Xác nhận</button>
      </div>
    </div>
  </div>
</template>

<script>
import AdvancedService from "../../services/advanced";

export default {
  props: ["impEx"],
  data() {
    return {
      isLoading: false,
      file: "",
      file_name: "chọn tệp excel cán bộ và thành tích..."
    };
  },
  methods: {
    listOnImageChange(e) {
      this.file = e.target.files[0];
      this.file_name = this.file["name"];
    },
    sbImport(e) {
      e.preventDefault();
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("file", this.file);
      AdvancedService.ImportStep2(formData, config)
        .then(() => {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã thêm thành công"
          });
          this.$emit("ok");
          this.$router.push("/staff");
        })
        .catch(() => {
          console.log("thất bại");
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "error",
            title: "Thông báo",
            text: "Đã thêm thất bại! vui lòng kiểm tra lại"
          });
          this.$emit("error");
        });
    }
  }
};
</script>
