<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Cán bộ</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Cán bộ</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Sử dụng excel</h3>
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mb-2">
                  <span>Bạn chưa có biểu mẫu?</span>
                  <a
                    href="https://drive.google.com/open?id=1aWxFyNLxJRiZxfWXqoQ0Mmw-E_efdpLc"
                    target="_blank"
                    >Biểu mẫu nhập Excel</a
                  >
                </div>
                <imp-excel :imp-ex="file"></imp-excel>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Sử dụng form</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label
                        >Họ tên cán bộ<span class="text-danger"
                          >(*)</span
                        ></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.full_name.$dirty">
                          <span class="error" v-if="!$v.form.full_name.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.full_name.minLength"
                            >Ít nhất
                            {{ $v.form.full_name.$params.minLength.min }} kí
                            tự.</span
                          >
                        </div>
                      </div>
                      <input
                        type="text"
                        v-model="$v.form.full_name.$model"
                        :class="{
                          'is-invalid': $v.form.full_name.$error,
                          'is-valid': !$v.form.full_name.$invalid
                        }"
                        class="form-control"
                      />
                    </div>

                    <div class="col">
                      <label
                        >Loại cán bộ<span class="text-danger">(*)</span></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.type_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.type_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.type_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.type_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.type_staff_id.$error,
                          'is-valid': !$v.form.type_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null">-- chọn loại --</option>
                        <option
                          v-for="item in typeStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label
                        >Ngày sinh<span class="text-danger">(*)</span></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.birthday.$dirty">
                          <span class="error" v-if="!$v.form.birthday.minDate"
                            >Phải nhỏ hơn ngày hiện tại.</span
                          >
                        </div>
                      </div>
                      <input
                        type="date"
                        v-model="$v.form.birthday.$model"
                        :class="{
                          'is-invalid': $v.form.birthday.$error,
                          'is-valid': !$v.form.birthday.$invalid
                        }"
                        class="form-control"
                      />
                    </div>

                    <div class="col">
                      <label
                        >Giới tính<span class="text-danger">(*)</span></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.sex.$dirty">
                          <span class="error" v-if="!$v.form.sex.required"
                            >Không được bỏ trống!</span
                          >
                          <span class="error" v-if="!$v.form.sex.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.sex.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.sex.$error,
                          'is-valid': !$v.form.sex.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn giới tính --</option
                        >
                        <option
                          v-for="item in sexOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Số hiệu<span class="text-danger">(*)</span></label>
                      <div style="float: right">
                        <div v-if="$v.form.code_number.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.code_number.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.code_number.minLength"
                            >Ít nhất
                            {{ $v.form.code_number.$params.minLength.min }} kí
                            tự.</span
                          >
                        </div>
                      </div>
                      <input
                        type="text"
                        v-model="$v.form.code_number.$model"
                        :class="{
                          'is-invalid': $v.form.code_number.$error,
                          'is-valid': !$v.form.code_number.$invalid
                        }"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <!--                  <div class="col">-->
                    <!--                    <label>Đơn vị trên cơ sở</label>-->
                    <!--                    <select v-model="form.school_id" class="form-control select2" style="width: 100%;">-->
                    <!--                      <option v-for="item in schoolOptions" :key="item.value" :value="item.value">-->
                    <!--                        {{item.text}}-->
                    <!--                      </option>-->
                    <!--                    </select>-->
                    <!--                  </div>-->
                    <div class="col">
                      <label>Đơn vị cơ sở</label>
                      <div style="float: right">
                        <div v-if="$v.form.unit_id.$dirty">
                          <span class="error" v-if="!$v.form.unit_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span class="error" v-if="!$v.form.unit_id.select0"
                            >Không được bỏ trống!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.unit_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.unit_id.$error,
                          'is-valid': !$v.form.unit_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option
                          v-for="item in unitOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Đội/Đồn/Tổ</label>
                      <select
                        v-model="form.team_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option
                          v-for="item in teamOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Chức vụ</label>
                      <div style="float: right">
                        <div v-if="$v.form.rank_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.position_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.position_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.position_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.position_staff_id.$error,
                          'is-valid': !$v.form.position_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn chức vụ --</option
                        >
                        <option
                          v-for="item in positionStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Cấp bậc</label>
                      <div style="float: right">
                        <div v-if="$v.form.rank_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.rank_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.rank_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.rank_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.rank_staff_id.$error,
                          'is-valid': !$v.form.rank_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn cấp bậc --</option
                        >
                        <option
                          v-for="item in rankStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import ImpExcel from "./import.vue";
import Error403 from "../error/index403";
import { required, minLength } from "vuelidate/lib/validators";
const minDate = value => new Date(value).getTime() <= Date.now();

// const selectVal = value => value != 1;
const selectNull = value => value != "null";
const select0 = value => value != 0;

export default {
  name: "Add",
  data() {
    return {
      role: localStorage.RoleUser,
      sexOptions: [
        { value: 0, text: "Nữ" },
        { value: 1, text: "Nam" }
      ],
      form: {
        school_id: "DHCSND",
        unit_id: 0,
        team_id: null,
        full_name: "",
        birthday: "",
        sex: null,
        code_number: "",
        rank_staff_id: null,
        position_staff_id: null,
        type_staff_id: null
      }
    };
  },
  validations: {
    form: {
      unit_id: {
        required,
        select0
      },
      // team_id: {
      //   required,
      //   selectNull
      // },
      full_name: {
        required,
        minLength: minLength(3)
      },
      birthday: {
        required,
        minDate
      },
      sex: {
        required,
        selectNull
      },
      code_number: {
        required,
        minLength: minLength(3)
      },
      rank_staff_id: {
        required,
        selectNull
      },
      position_staff_id: {
        required,
        selectNull
      },
      type_staff_id: {
        required,
        selectNull
      }
    }
  },
  mounted() {
    // this.loadSchoolData()
    this.loadUnitData();
    this.loadRankStaffData();
    this.loadPositionStaffData();
    this.loadTypeStaffData();
  },
  components: {
    ImpExcel,
    Error403
  },
  computed: {
    ...mapState("staff_ad_ac", {
      schoolOptions: state => state.schoolOptions,
      unitOptions: state => state.unitOptions,
      teamOptions: state => state.teamOptions
    }),
    ...mapState("rank_staff_ac", {
      rankStaffOptions: state => state.rankStaffOptions
    }),
    ...mapState("position_staff_ac", {
      positionStaffOptions: state => state.positionStaffOptions
    }),
    ...mapState("type_staff_ac", {
      typeStaffOptions: state => state.typeStaffOptions
    }),
    ...mapState("staff_add", {
      basicInfo: "basicInfo"
    }),
    ...mapGetters("staff_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("staff_ad_ac", {
      changeSchool: "changeSchool",
      changeUnit: "changeUnit",
      changeTeam: "changeTeam"
    }),
    ...mapActions("rank_staff_ac", {
      loadRankStaffData: "loadRankStaffData"
    }),
    ...mapActions("position_staff_ac", {
      loadPositionStaffData: "loadPositionStaffData"
    }),
    ...mapActions("type_staff_ac", {
      loadTypeStaffData: "loadTypeStaffData"
    }),
    ...mapActions("staff_ad_ac", {
      // loadSchoolData: 'loadSchoolData',
      loadUnitData: "loadUnitData"
    }),
    ...mapActions("staff_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    loadAddress() {
      this.form.school_id = 0;
      this.form.unit_id = 0;
      this.form.team_id = null;

      this.changeSchool(this.form.school_id);
      this.changeUnit(this.form.unit_id);
      this.changeTeam(this.form.team_id);

      this.setBasicInfo(this.form);
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        this.doSubmit()
          .then(() => {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã thêm thành công"
            });
            this.$emit("ok");
            this.$router.push("/staff");
          })
          .catch(err => {
            this.$swal(
              "Đăng tin không thành công",
              JSON.stringify(err.response.data)
            );
          });
      }
    },
    reset() {
      this.form.school_id = "DHCSND";
      this.form.unit_id = 0;
      this.form.team_id = null;
      this.form.full_name = "";
      this.form.birthday = "";
      this.form.sex = null;
      this.form.code_number = "";
      this.form.rank_staff_id = null;
      this.form.position_staff_id = null;
      this.form.type_staff_id = null;
    }
  },
  watch: {
    "form.school_id": function(newVal) {
      this.form.unit_id = 0;

      this.changeSchool(newVal);
      this.setBasicInfo(this.form);
    },
    "form.unit_id": function(newVal) {
      this.form.team_id = null;

      this.changeUnit(newVal);
      this.setBasicInfo(this.form);
    },
    "form.team_id": function() {
      // this.changeTeam(newVal)
      this.setBasicInfo(this.form);
    },
    "form.full_name": function() {
      this.setBasicInfo(this.form);
    },
    "form.birthday": function() {
      this.setBasicInfo(this.form);
    },
    "form.sex": function() {
      this.setBasicInfo(this.form);
    },
    "form.code_number": function() {
      this.setBasicInfo(this.form);
    },
    "form.rank_staff_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.position_staff_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.type_staff_id": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
