<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Cán bộ</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'staff.index' }">
                    Cán bộ
                  </router-link>
                </li>
                <li class="breadcrumb-item active">Chỉnh sửa</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Họ<span class="text-danger">(*)</span></label>
                      <input
                        disabled
                        type="text"
                        v-model="form.full_name"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Loại<span class="text-danger">(*)</span></label>
                      <!--                      <input type="text" v-model="form.type_staff_id"-->
                      <!--                             class="form-control">-->
                      <div style="float: right">
                        <div v-if="$v.form.type_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.type_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.type_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.type_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.type_staff_id.$error,
                          'is-valid': !$v.form.type_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null">-- chọn loại --</option>
                        <option
                          v-for="item in typeStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label
                        >Ngày sinh<span class="text-danger">(*)</span></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.birthday.$dirty">
                          <span class="error" v-if="!$v.form.birthday.minDate"
                            >Phải nhỏ hơn ngày hiện tại.</span
                          >
                        </div>
                      </div>
                      <input
                        type="date"
                        v-model="$v.form.birthday.$model"
                        :class="{
                          'is-invalid': $v.form.birthday.$error,
                          'is-valid': !$v.form.birthday.$invalid
                        }"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label
                        >Giới tính<span class="text-danger">(*)</span></label
                      >
                      <input
                        disabled
                        v-if="form.sex === 1"
                        type="text"
                        value="Nam"
                        class="form-control"
                      />
                      <input
                        disabled
                        v-else
                        type="text"
                        value="Nữ"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Số hiệu<span class="text-danger">(*)</span></label>
                      <div style="float: right">
                        <div v-if="$v.form.code_number.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.code_number.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.code_number.minLength"
                            >Ít nhất
                            {{ $v.form.code_number.$params.minLength.min }} kí
                            tự.</span
                          >
                        </div>
                      </div>
                      <input
                        type="text"
                        v-model="$v.form.code_number.$model"
                        :class="{
                          'is-invalid': $v.form.code_number.$error,
                          'is-valid': !$v.form.code_number.$invalid
                        }"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Đơn vị trên cơ sở</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.schools['name']"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Đơn vị cơ sở</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.units['name']"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Đội/Đồn/Tổ</label>
                      <input
                        v-if="form.team_id"
                        disabled
                        type="text"
                        v-model="form.teams['name']"
                        class="form-control"
                      />
                      <input
                        v-else
                        disabled
                        type="text"
                        value="Hiện chưa vào đội"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Chức vụ</label>
                      <!--                      <input disabled type="text" v-model="form.positions['name']"-->
                      <!--                             class="form-control">-->
                      <div style="float: right">
                        <div v-if="$v.form.rank_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.position_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.position_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.position_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.position_staff_id.$error,
                          'is-valid': !$v.form.position_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn chức vụ --</option
                        >
                        <option
                          v-for="item in positionStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Cấp bậc</label>
                      <!--                      <input disabled type="text" v-model="form.ranks['name']"-->
                      <!--                             class="form-control">-->
                      <div style="float: right">
                        <div v-if="$v.form.rank_staff_id.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.rank_staff_id.required"
                            >Không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.rank_staff_id.selectNull"
                            >Không hợp lệ!</span
                          >
                        </div>
                      </div>
                      <select
                        v-model="$v.form.rank_staff_id.$model"
                        class="form-control select2"
                        :class="{
                          'is-invalid': $v.form.rank_staff_id.$error,
                          'is-valid': !$v.form.rank_staff_id.$invalid
                        }"
                        style="width: 100%;"
                      >
                        <option selected value="null"
                          >-- chọn cấp bậc --</option
                        >
                        <option
                          v-for="item in rankStaffOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import StaffService from "../../services/staff";
import Error403 from "../error/index403";
import { mapGetters, mapActions, mapState } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
const minDate = value => new Date(value).getTime() <= Date.now();

// const selectVal = value => value != 1;
const selectNull = value => value != "null";
// const select0 = value => value != 0;

export default {
  name: "Edit",
  components: {
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      isLoading: false,
      isSubmitting: false,
      form: {
        school_id: "",
        unit_id: "",
        full_name: "",
        birthday: "",
        sex: "",
        code_number: "",
        type_staff_id: "",
        rank_staff_id: "",
        position_staff_id: ""
      }
    };
  },
  validations: {
    form: {
      // unit_id: {
      //   required,
      //   select0
      // },
      // team_id: {
      //   required,
      //   selectNull
      // },
      // full_name: {
      //   required,
      //   minLength: minLength(3)
      // },
      birthday: {
        required,
        minDate
      },
      sex: {
        required,
        selectNull
      },
      code_number: {
        required,
        minLength: minLength(3)
      },
      rank_staff_id: {
        required,
        selectNull
      },
      position_staff_id: {
        required,
        selectNull
      },
      type_staff_id: {
        required,
        selectNull
      }
    }
  },
  mounted() {
    this.loadRankStaffData();
    this.loadPositionStaffData();
    this.loadTypeStaffData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapState("rank_staff_ac", {
      rankStaffOptions: state => state.rankStaffOptions
    }),
    ...mapState("position_staff_ac", {
      positionStaffOptions: state => state.positionStaffOptions
    }),
    ...mapState("type_staff_ac", {
      typeStaffOptions: state => state.typeStaffOptions
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("rank_staff_ac", {
      loadRankStaffData: "loadRankStaffData"
    }),
    ...mapActions("position_staff_ac", {
      loadPositionStaffData: "loadPositionStaffData"
    }),
    ...mapActions("type_staff_ac", {
      loadTypeStaffData: "loadTypeStaffData"
    }),
    getShow() {
      this.isLoading = true;
      StaffService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isSubmitting = false;
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        StaffService.update(this.$route.params.id, this.form)
          .then(() => {
            this.isSubmitting = false;
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã cập nhật thành công"
            });
            this.$emit("ok");
            this.$router.push("/staff");
          })
          .catch(err => {
            this.isSubmitting = false;
            this.$swal(
              "Đăng tin không thành công",
              JSON.stringify(err.response.data)
            );
          });
      }
    },
    reset() {
      this.getShow();
    }
  }
};
</script>
