<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Cán bộ</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Cán bộ</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <button v-else class="btn btn-success" @click="createData">
                    Thêm mới
                  </button>
                  <export-excel
                    :data="list_staffs_export"
                    :fields="json_fields"
                    name="can_bo"
                    class="btn btn-outline-info"
                  >
                    Tải bản đầy đủ
                  </export-excel>
                  <vue-excel-xlsx
                    class="btn btn-outline-dark"
                    :data="list_staffs_export"
                    :columns="columns"
                    :filename="'can_bo'"
                    :sheetname="'Cán bộ'"
                  >
                    Tải bản mã
                  </vue-excel-xlsx>
                  <div class="card-tools">
                    <div
                      class="input-group input-group-sm"
                      style="width: 200px;"
                    >
                      <input
                        type="text"
                        v-model="searchAll"
                        @keyup="debounceSocket()"
                        class="form-control"
                        id="inputCity"
                        placeholder="Bạn cần tìm..."
                      />
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in list_staffs.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.full_name }}</td>
                        <!--                      <td>{{ item.birthday }}</td>-->
                        <td>{{ item.birthday | moment("DD-MM-YYYY") }}</td>
                        <!--                    <td>{{ item.sex }}</td>-->
                        <td v-if="item.sex !== 0">Nam</td>
                        <td v-if="item.sex === 0">Nữ</td>
                        <td
                          v-if="item.rank_staff_id == null"
                          class="text-danger"
                        >
                          Chưa có cấp bậc
                        </td>
                        <td v-if="item.rank_staff_id != null">
                          <img
                            :src="
                              'http://127.0.0.1:8000/file/rank/' +
                                item.ranks.thumbnails
                            "
                            width="80"
                            :title="item.ranks.name"
                          />
                        </td>
                        <td v-if="item.position_staff_id != null">
                          {{ item.positions.name }}
                        </td>
                        <td
                          v-if="item.position_staff_id == null"
                          class="text-danger"
                        >
                          Chưa có chức vụ
                        </td>
                        <td>{{ item.units.name }}</td>
                        <td v-if="item.team_id == null" class="text-danger">
                          Chưa vào đội
                        </td>
                        <td v-if="item.team_id != null">
                          {{ item.teams.name }}
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'personalAchievements.index',
                              params: { id: item.code_number }
                            }"
                            class="btn btn-info btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Thành tích cá nhân"
                          >
                            <i class="fas fa-award"></i>
                          </router-link>
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'personalDiscipline.index',
                              params: { id: item.code_number }
                            }"
                            class="btn btn-warning btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Kỷ luật đối với cá nhân"
                          >
                            <i
                              class="fas fa-exclamation-triangle text-white"
                            ></i>
                          </router-link>
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'changeStaff.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-primary btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Thay đổi đơn vị"
                          >
                            <i class="nav-icon fas fa-exchange-alt"></i>
                          </router-link>
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'staff.profile',
                              params: { id: item.code_number }
                            }"
                            class="btn btn-default btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Thông tin"
                          >
                            <i class="fas fa-eye"></i>
                          </router-link>
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'staff.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-dark btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Xóa thông tin"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_staffs.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="search">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100000">Toàn bộ</option>
                    </select>
                  </span>
                  <span>/ {{ list_staffs.total }} cá nhân</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_staffs.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import StaffService from "../../services/staff";
import * as _ from "lodash";
import Paginate from "vuejs-paginate";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403
  },
  data() {
    return {
      list_staffs: [],
      list_staffs_export: [],
      isLoading: false,
      searchAll: "",
      file: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Họ tên", key: "full_name", sort: true },
        { title: "Ngày sinh", key: "birthday", sort: true },
        { title: "Giới tính", key: "sex", sort: true },
        { title: "Cấp bậc", key: "rank_staff_id", sort: true },
        { title: "Chức vụ", key: "position_staff_id", sort: true },
        { title: "Đơn vị", key: "unit_id", sort: true },
        { title: "Đội", key: "team_id", sort: true }
      ],
      json_fields: {
        "Số hiệu cán bộ": "code_number",
        "Họ tên cán bộ": "full_name",
        "Đơn vị trên cơ sở": "schools.name",
        "Đơn vị cơ sở": "units.name",
        "Đội/Đồn/Tổ": "teams.name",
        "Ngày sinh": "birthday",
        "Giới tính": "sex",
        "Cấp bậc": "ranks.name",
        "Chức vụ": "positions.name",
        "Loại cán bộ": "types.name"
      },
      columns: [
        {
          label: "school_id",
          field: "school_id"
        },
        {
          label: "unit_id",
          field: "unit_id"
        },
        {
          label: "team_id",
          field: "team_id"
        },
        {
          label: "type_staff_id",
          field: "type_staff_id"
        },
        {
          label: "rank_staff_id",
          field: "rank_staff_id"
        },
        {
          label: "position_staff_id",
          field: "position_staff_id"
        },
        {
          label: "full_name",
          field: "full_name"
        },
        {
          label: "birthday",
          field: "birthday"
        },
        {
          label: "code_number",
          field: "code_number"
        },
        {
          label: "sex",
          field: "sex"
        },
        {
          label: "pending_remove",
          field: "pending_remove"
        }
      ]
    };
  },
  created() {
    this.getList();
  },
  computed: {
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    createData() {
      this.$router.push("/staff/add");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      StaffService.getPaginate(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          this.list_staffs = response.data.data;
          this.list_staffs_export = response.data.data.data; // danh saách để export
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return StaffService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      StaffService.getSearch(p.page, p.per_page, p.sort_column, p.direction, {
        keyText: this.searchAll
      }).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.list_staffs = response.data.data;
          this.list_staffs_export = response.data.data.data;
        } else {
          this.getList();
        }
      });
    }
  }
};
</script>
