<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Cán bộ: {{ this.form.full_name }}</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'staff.index' }">
                    Cán bộ
                  </router-link>
                </li>
                <li class="breadcrumb-item active">Thông tin cá nhân</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin hồ sơ cá nhân</h3>
              <a
                v-bind:href="url"
                class="btn btn-outline-info"
                style="float: right"
                >Tải hồ sơ</a
              >
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row" v-for="(form, index) in listInfo" :key="index">
                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Họ tên cán bộ</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.full_name"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Đơn vị trên cơ sở</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.schools.name"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Đơn vị cơ sở</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.units.name"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Đội/Đồn/Tổ</label>
                      <input
                        disabled
                        type="text"
                        v-if="form.team_id === null"
                        value="Chưa tham gia"
                        class="form-control"
                      />
                      <input
                        disabled
                        type="text"
                        v-if="form.team_id !== null"
                        v-model="form.teams.name"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Ngày sinh</label>
                      <input
                        disabled
                        type="date"
                        v-model="form.birthday"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Giới tính</label>
                      <input
                        disabled
                        v-if="form.sex === 0"
                        type="text"
                        value="Nam"
                        class="form-control"
                      />
                      <input
                        disabled
                        v-if="form.sex === 1"
                        type="text"
                        value="Nữ"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Số hiệu</label>
                      <input
                        disabled
                        type="text"
                        v-model="form.code_number"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Cấp bậc</label>
                      <!--                      <input disabled type="text" v-model="form.ranks.name"-->
                      <!--                             class="form-control">-->
                      <input
                        v-if="form.rank_staff_id"
                        disabled
                        type="text"
                        v-model="form.ranks['name']"
                        class="form-control"
                      />
                      <input
                        v-else
                        disabled
                        type="text"
                        value="Hiện chưa có cấp bậc"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Chức vụ</label>
                      <!--                      <input disabled type="text" v-model="form.positions.name"-->
                      <!--                             class="form-control">-->
                      <input
                        v-if="form.position_staff_id"
                        disabled
                        type="text"
                        v-model="form.positions['name']"
                        class="form-control"
                      />
                      <input
                        v-else
                        disabled
                        type="text"
                        value="Hiện chưa có chức vụ"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label>Loại cán bộ</label>
                      <!--                      <input disabled type="text" v-model="form.types.name"-->
                      <!--                             class="form-control">-->
                      <input
                        v-if="form.type_staff_id"
                        disabled
                        type="text"
                        v-model="form.types['name']"
                        class="form-control"
                      />
                      <input
                        v-else
                        disabled
                        type="text"
                        value="Hiện chưa có loại cán bộ"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <personal-reward></personal-reward>
          <personal-discipline></personal-discipline>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import StaffService from "../../services/staff";
import PersonalReward from "./common/personal_reward";
import PersonalDiscipline from "./common/personal_discipline";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      url: "http://127.0.0.1:8000/api/staff/export/" + this.$route.params.id,
      isLoading: false,
      isSubmitting: false,
      id: this.$route.params.id,
      listInfo: [],
      form: {
        school_id: "",
        unit_id: "",
        full_name: "",
        birthday: "",
        sex: "",
        code_number: "",
        type_staff_id: "",
        rank_staff_id: "",
        position_staff_id: ""
      }
    };
  },
  components: {
    PersonalReward: PersonalReward,
    PersonalDiscipline: PersonalDiscipline,
    Error403
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getExport() {
      StaffService.getExport(this.id)
        .then(response => {
          console.log("ok đã export thành công!");
          console.log(response);
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    getShow() {
      this.isLoading = true;
      StaffService.profile(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.listInfo = response.data.data;
      });
    }
  }
};
</script>
