<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Thống kê số liệu</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thống kê số liệu</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <div v-else>
                    <div class="form-row">
                      <div class="col-md-3">
                        <label class="mt-5"></label>
                        <export-excel
                          :data="list_summary"
                          :title="titles"
                          :footer="footers"
                          class="btn btn-dark"
                        >
                          Tải xuống
                        </export-excel>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Bắt đầu</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="sign_date"
                        />
                      </div>
                      <div class="form-group col-md-3">
                        <label>Kết thúc</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="received_date"
                        />
                      </div>
                      <div class="col-md-1">
                        <label class="mt-5"></label>
                        <button
                          class="btn btn-primary"
                          @click="getFilter"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Lọc"
                        >
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Danh mục thống kê</th>
                        <th>Tổng số</th>
                        <th>Cấp bộ</th>
                        <th>Cấp tỉnh</th>
                        <th>Cấp huyện</th>
                        <th>Cấp xã</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in list_summary" :key="index">
                        <td>{{ item.id }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.ministry_level }}</td>
                        <td>{{ item.provincial_level }}</td>
                        <td>{{ item.district_level }}</td>
                        <td>{{ item.commune_level }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_summary.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "../../axios";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    Error403
  },
  data() {
    return {
      // Phần dùng cho cán bộ rủi ro
      count_duty: 0, // chỉ rủi ro cá nhân
      count_duty_ministry: 0,
      count_duty_provincial: 0,
      count_duty_district: 0,
      count_duty_commune: 0,

      // Phần dùng cho cán bộ hy sinh
      count_die: 0, // chỉ hy sinh cá nhân
      count_die_ministry: 0,
      count_die_provincial: 0,
      count_die_district: 0,
      count_die_commune: 0,

      // Phần dùng cho cán bộ bị thương
      count_injured: 0, // chỉ bị thương cá nhân
      count_injured_ministry: 0,
      count_injured_provincial: 0,
      count_injured_district: 0,
      count_injured_commune: 0,

      // Phần dùng cho cán bộ hiv
      count_hiv: 0, // chỉ HIV cá nhân
      count_hiv_ministry: 0,
      count_hiv_provincial: 0,
      count_hiv_district: 0,
      count_hiv_commune: 0,

      // Phần dùng cho tập thể
      count_collective: 0, // chỉ khen thưởng tập thể
      count_collective_ministry: 0,
      count_collective_provincial: 0,
      count_collective_district: 0,
      count_collective_commune: 0,

      // Phần dùng cho cá nhân
      count_personal: 0, // chỉ khen thưởng cá nhân
      count_personal_ministry: 0,
      count_personal_provincial: 0,
      count_personal_district: 0,
      count_personal_commune: 0,

      // Phần dùng cho kỷ luật
      count_discipline: 0, // chỉ kỷ luật cá nhân
      count_forms_of_discipline_reprimand: 0, // Khiển trách
      count_forms_of_discipline_reprimand_B: 0, // Khiển trách cấp bộ
      count_forms_of_discipline_reprimand_UBNDT: 0, // Khiển trách cấp tỉnh
      count_forms_of_discipline_reprimand_UBNDH: 0, // Khiển trách cấp huyện
      count_forms_of_discipline_reprimand_UBNDX: 0, // Khiển trách cấp xã

      count_forms_of_discipline_warning: 0, // Cảnh cáo
      count_forms_of_discipline_warning_B: 0, // Cảnh cáo cấp bộ
      count_forms_of_discipline_warning_UBNDT: 0, // Cảnh cáo cấp tỉnh
      count_forms_of_discipline_warning_UBNDH: 0, // Cảnh cáo cấp huyện
      count_forms_of_discipline_warning_UBNDX: 0, // Cảnh cáo cấp xã

      count_forms_of_discipline_HBL_GCBH: 0, // Hạ bậc lương hoặc giáng cấp bậc hàm
      count_forms_of_discipline_HBL_GCBH_B: 0, // Hạ bậc lương hoặc giáng cấp bậc hàm cấp bộ
      count_forms_of_discipline_HBL_GCBH_UBNDT: 0, // Hạ bậc lương hoặc giáng cấp bậc hàm cấp tỉnh
      count_forms_of_discipline_HBL_GCBH_UBNDH: 0, // Hạ bậc lương hoặc giáng cấp bậc hàm cấp huyện
      count_forms_of_discipline_HBL_GCBH_UBNDX: 0, // Hạ bậc lương hoặc giáng cấp bậc hàm cấp xã

      count_forms_of_discipline_GNCH_GCBH_HBL: 0, // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương
      count_forms_of_discipline_GNCH_GCBH_HBL_B: 0, // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp bộ
      count_forms_of_discipline_GNCH_GCBH_HBL_UBNDT: 0, // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp tỉnh
      count_forms_of_discipline_GNCH_GCBH_HBL_UBNDH: 0, // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp huyện
      count_forms_of_discipline_GNCH_GCBH_HBL_UBNDX: 0, // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp xã

      count_forms_of_discipline_demote: 0, // Giáng chức
      count_forms_of_discipline_demote_B: 0, // Giáng chức cấp bộ
      count_forms_of_discipline_demote_UBNDT: 0, // Giáng chức cấp tỉnh
      count_forms_of_discipline_demote_UBNDH: 0, // Giáng chức cấp huyện
      count_forms_of_discipline_demote_UBNDX: 0, // Giáng chức cấp xã

      count_forms_of_discipline_dismiss: 0, // Cách chức
      count_forms_of_discipline_dismiss_B: 0, // Cách chức cấp bộ
      count_forms_of_discipline_dismiss_UBNDT: 0, // Cách chức cấp tỉnh
      count_forms_of_discipline_dismiss_UBNDH: 0, // Cách chức cấp huyện
      count_forms_of_discipline_dismiss_UBNDX: 0, // Cách chức cấp xã

      count_forms_of_discipline_CC_GCBH_HBL: 0, //  Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương
      count_forms_of_discipline_CC_GCBH_HBL_B: 0, //  Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp bộ
      count_forms_of_discipline_CC_GCBH_HBL_UBNDT: 0, //  Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp tỉnh
      count_forms_of_discipline_CC_GCBH_HBL_UBNDH: 0, //  Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp huyện
      count_forms_of_discipline_CC_GCBH_HBL_UBNDX: 0, //  Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp xã

      count_forms_of_discipline_KTBC: 0, //  Khởi tố bị can
      count_forms_of_discipline_KTBC_B: 0, //  Khởi tố bị can cấp bộ
      count_forms_of_discipline_KTBC_UBNDT: 0, //  Khởi tố bị can cấp tỉnh
      count_forms_of_discipline_KTBC_UBNDH: 0, //  Khởi tố bị can cấp huyện
      count_forms_of_discipline_KTBC_UBNDX: 0, //  Khởi tố bị can cấp xã

      count_forms_of_discipline_dismiss_title: 0, // Tước danh hiệu CAND
      count_forms_of_discipline_dismiss_title_B: 0, // Tước danh hiệu CAND cấp bộ
      count_forms_of_discipline_dismiss_title_UBNDT: 0, // Tước danh hiệu CAND cấp tỉnh
      count_forms_of_discipline_dismiss_title_UBNDH: 0, // Tước danh hiệu CAND cấp huyện
      count_forms_of_discipline_dismiss_title_UBNDX: 0, // Tước danh hiệu CAND cấp xã

      // HÌNH THỨC KHEN THƯỞNG
      count_forms_of_reward_collective: 0, // tập thể
      count_forms_of_reward_personal: 0, // cá nhân

      // HUÂN CHƯƠNG
      count_collective_star: 0, // tập thể
      count_collective_star_B: 0, // tập thể cấp bộ
      count_collective_star_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_star_UBNDH: 0, // tập thể cấp huyện
      count_collective_star_UBNDX: 0, // tập thể cấp xã

      count_personal_star: 0, // Cá nhân
      count_personal_star_B: 0, // Cá nhân cấp bộ
      count_personal_star_UBNDT: 0, // Cá nhân cấp tỉnh
      count_personal_star_UBNDH: 0, // Cá nhân cấp huyện
      count_personal_star_UBNDX: 0, // Cá nhân cấp xã

      // HUY CHƯƠNG
      count_collective_medal: 0, // tập thể
      count_collective_medal_B: 0, // tập thể cấp bộ
      count_collective_medal_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_medal_UBNDH: 0, // tập thể cấp huyện
      count_collective_medal_UBNDX: 0, // tập thể cấp xã

      count_personal_medal: 0, // Cá nhân
      count_personal_medal_B: 0, // Cá nhân cấp bộ
      count_personal_medal_UBNDT: 0, // Cá nhân cấp tỉnh
      count_personal_medal_UBNDH: 0, // Cá nhân cấp huyện
      count_personal_medal_UBNDX: 0, // Cá nhân cấp xã

      // DANH HIỆU VINH DỰ NHÀ NƯỚC
      count_collective_state_honors: 0, // tập thể
      count_collective_state_honors_B: 0, // tập thể cấp bộ
      count_collective_state_honors_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_state_honors_UBNDH: 0, // tập thể cấp huyện
      count_collective_state_honors_UBNDX: 0, // tập thể cấp xã

      count_personal_state_honors: 0, // cá nhân
      count_personal_state_honors_B: 0, // cá nhân cấp bộ
      count_personal_state_honors_UBNDT: 0, // cá nhân cấp tỉnh
      count_personal_state_honors_UBNDH: 0, // cá nhân cấp huyện
      count_personal_state_honors_UBNDX: 0, // cá nhân cấp xã

      // GIẢI THƯỞNG HỒ CHÍ MINH, GIẢI THƯỞNG NHÀ NƯỚC
      count_collective_prize: 0, // tập thể
      count_collective_prize_B: 0, // tập thể cấp bộ
      count_collective_prize_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_prize_UBNDH: 0, // tập thể cấp huyện
      count_collective_prize_UBNDX: 0, // tập thể cấp xã

      count_personal_prize: 0, // cá nhân
      count_personal_prize_B: 0, // cá nhân cấp bộ
      count_personal_prize_UBNDT: 0, // cá nhân cấp tỉnh
      count_personal_prize_UBNDH: 0, // cá nhân cấp huyện
      count_personal_prize_UBNDX: 0, // cá nhân cấp xã

      // BẰNG KHEN
      count_collective_diploma: 0, // tập thể
      count_collective_diploma_B: 0, // tập thể cấp bộ
      count_collective_diploma_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_diploma_UBNDH: 0, // tập thể cấp huyện
      count_collective_diploma_UBNDX: 0, // tập thể cấp xã

      count_personal_diploma: 0, // Cá nhân
      count_personal_diploma_B: 0, // Cá nhân cấp bộ
      count_personal_diploma_UBNDT: 0, // Cá nhân cấp tỉnh
      count_personal_diploma_UBNDH: 0, // Cá nhân cấp huyện
      count_personal_diploma_UBNDX: 0, // Cá nhân cấp xã

      // BẰNG KHEN CỦA THỦ TƯỚNG CHÍNH PHỦ
      count_collective_diploma_prime_minister: 0, // tập thể
      count_personal_diploma_prime_minister: 0, // Cá nhân

      // BẰNG KHEN CỦA BỘ TRƯỞNG BỘ CÔNG AN
      count_collective_diploma_police: 0, // tập thể
      count_personal_diploma_police: 0, // Cá nhân

      // GIẤY KHEN
      count_collective_paper: 0, // tập thể
      count_collective_paper_B: 0, // tập thể cấp bộ
      count_collective_paper_UBNDT: 0, // tập thể cấp tỉnh
      count_collective_paper_UBNDH: 0, // tập thể cấp huyện
      count_collective_paper_UBNDX: 0, // tập thể cấp xã

      count_personal_paper: 0, // Cá nhân
      count_personal_paper_B: 0, // Cá nhân cấp bộ
      count_personal_paper_UBNDT: 0, // Cá nhân cấp tỉnh
      count_personal_paper_UBNDH: 0, // Cá nhân cấp huyện
      count_personal_paper_UBNDX: 0, // Cá nhân cấp xã

      // HÌNH THỨC KHÁC
      count_forms_of_reward_collective_order: 0, // tập thể
      count_forms_of_reward_personal_order: 0, // Cá nhân

      // Phần dùng hiển thị danh sách
      sign_date: "",
      received_date: "",
      list_summary: [],
      isLoading: false,

      titles: "",
      footers:
        "<thead>" +
        "<tr>" +
        '<th class="text-center" colspan="2">' +
        " CÁN BỘ THỐNG KÊ  \n" +
        "<br>" +
        "</th>" +
        // '<td></td>' +
        '<th class="text-center" colspan="5">' +
        "Thành phố Hồ Chí Minh, ngày   tháng 09  năm  \n" +
        "<br>" +
        "HIỆU TRƯỞNG " +
        "<br>" +
        "</th>" +
        "</tr>" +
        "<thead>"
    };
  },
  created() {
    this.getList();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    changeTitle() {
      // Phần ngày bắt đầu
      let ddSD = new Date(this.sign_date).getDate();
      let mmSD = new Date(this.sign_date).getMonth() + 1;
      let yyyySD = new Date(this.sign_date).getFullYear();
      // Phần ngày kết thúc
      let ddRD = new Date(this.received_date).getDate();
      let mmRD = new Date(this.received_date).getMonth() + 1;
      let yyyyRD = new Date(this.received_date).getFullYear();
      if (ddSD < 10) {
        ddSD = "0" + ddSD;
      }
      if (mmSD < 10) {
        mmSD = "0" + mmSD;
      }
      let todaySD = ddSD + "/" + mmSD + "/" + yyyySD;

      if (ddRD < 10) {
        ddRD = "0" + ddRD;
      }
      if (mmRD < 10) {
        mmRD = "0" + mmRD;
      }
      let todayRD = ddRD + "/" + mmRD + "/" + yyyyRD;

      this.titles =
        "<thead>" +
        "<tr>" +
        '<th class="text-center" colspan="2">' +
        "THỐNG KÊ SỐ LIỆU \n" +
        "<br>" +
        "KHEN THƯỞNG, KỶ LUẬT" +
        "<br>" +
        "CÁN BỘ CHIẾN SỸ HY SINH, BỊ THƯƠNG " +
        "<br>" +
        "KHI THI HÀNH CÔNG VỤ " +
        "<br>" +
        "(Từ ngày" +
        " " +
        todaySD +
        " " +
        "đến ngày" +
        " " +
        todayRD +
        ") " +
        "</th>" +
        "<td></td>" +
        '<th class="text-center" colspan="4">' +
        "Biểu số A21, ban hành kèm theo \n" +
        "<br>" +
        "Thông  tư số 14/2019/TT-BCA " +
        "<br>" +
        "ngày 21/6/2019  " +
        "<br>" +
        "</th>" +
        "</tr>" +
        "<tr>" +
        '<th rowspan="2">' +
        "STT" +
        "<br>" +
        "</th>" +
        '<th rowspan="2">' +
        "Danh mục thống  kê " +
        "<br>" +
        "</th>" +
        '<th rowspan="2">' +
        "Tổng số " +
        "<br>" +
        "</th>" +
        '<th colspan="4">' +
        "Phân cấp " +
        "<br>" +
        "</th>" +
        "</tr>" +
        '<th class="text-center">' +
        "Cấp Bộ " +
        "</th>" +
        '<th class="text-center">' +
        "Cấp tỉnh " +
        "</th>" +
        '<th class="text-center">' +
        "Cấp huyện " +
        "</th>" +
        '<th class="text-center">' +
        "Cấp xã " +
        "</th>" +
        "<thead>";
    },
    getList() {
      this.isLoading = false;
      this.list_summary = [
        {
          id: "1",
          category: "I.Khen thưởng (=2+3)",
          total: this.count_collective + this.count_personal,
          ministry_level:
            this.count_collective_ministry + this.count_personal_ministry,
          provincial_level:
            this.count_collective_provincial + this.count_personal_provincial,
          district_level:
            this.count_collective_district + this.count_personal_district,
          commune_level:
            this.count_collective_commune + this.count_personal_commune
        },
        {
          id: "2",
          category: "Tập thể",
          total: this.count_collective,
          ministry_level: this.count_collective_ministry,
          provincial_level: this.count_collective_provincial,
          district_level: this.count_collective_district,
          commune_level: this.count_collective_commune
        },
        {
          id: "3",
          category: "Cá nhân",
          total: this.count_personal,
          ministry_level: this.count_personal_ministry,
          provincial_level: this.count_personal_provincial,
          district_level: this.count_personal_district,
          commune_level: this.count_personal_commune
        },
        {
          id: "4",
          category: "Hình thức khen thưởng (=5+...+9+13+11)",
          total:
            this.count_forms_of_reward_personal +
            this.count_forms_of_reward_collective,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "5",
          category: "Huân chương",
          total: this.count_collective_star + this.count_personal_star,
          ministry_level:
            this.count_collective_star_B + this.count_personal_star_B,
          provincial_level:
            this.count_collective_star_UBNDT + this.count_personal_star_UBNDT,
          district_level:
            this.count_collective_star_UBNDH + this.count_personal_star_UBNDH,
          commune_level:
            this.count_collective_star_UBNDX + this.count_personal_star_UBNDX
        },
        {
          id: "6",
          category: "Huy chương",
          total: this.count_collective_medal + this.count_personal_medal, // tính tập thể trước rồi + cá nhân sau
          ministry_level:
            this.count_collective_medal_B + this.count_personal_medal_B,
          provincial_level:
            this.count_collective_medal_UBNDT + this.count_personal_medal_UBNDT,
          district_level:
            this.count_collective_medal_UBNDH + this.count_personal_medal_UBNDH,
          commune_level:
            this.count_collective_medal_UBNDX + this.count_personal_medal_UBNDX
        },
        {
          id: "7",
          category: "Danh hiệu vinh dự Nhà nước",
          total:
            this.count_collective_state_honors +
            this.count_personal_state_honors,
          ministry_level:
            this.count_collective_state_honors_B +
            this.count_personal_state_honors_B,
          provincial_level:
            this.count_collective_state_honors_UBNDT +
            this.count_personal_state_honors_UBNDT,
          district_level:
            this.count_collective_state_honors_UBNDH +
            this.count_personal_state_honors_UBNDH,
          commune_level:
            this.count_collective_state_honors_UBNDX +
            this.count_personal_state_honors_UBNDX
        },
        {
          id: "8",
          category: "Giải thưởng Hồ Chí Minh, Giải thưởng Nhà nước",
          total: this.count_collective_prize + this.count_personal_prize,
          ministry_level:
            this.count_collective_prize_B + this.count_personal_prize_B,
          provincial_level:
            this.count_collective_prize_UBNDT + this.count_personal_prize_UBNDT,
          district_level:
            this.count_collective_prize_UBNDH + this.count_personal_prize_UBNDH,
          commune_level:
            this.count_collective_prize_UBNDX + this.count_personal_prize_UBNDX
        },
        {
          id: "9",
          category: "Bằng khen",
          total: this.count_collective_diploma + this.count_personal_diploma,
          ministry_level:
            this.count_collective_diploma_B + this.count_personal_diploma_B,
          provincial_level:
            this.count_collective_diploma_UBNDT +
            this.count_personal_diploma_UBNDT,
          district_level:
            this.count_collective_diploma_UBNDH +
            this.count_personal_diploma_UBNDH,
          commune_level:
            this.count_collective_diploma_UBNDX +
            this.count_personal_diploma_UBNDX
        },
        {
          id: "",
          category: "- Bằng khen của Thủ Tướng Chính phủ",
          total:
            this.count_collective_diploma_prime_minister +
            this.count_personal_diploma_prime_minister,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "",
          category: "- Bằng khen của Bộ trưởng Bộ Công an",
          total:
            this.count_collective_diploma_police +
            this.count_personal_diploma_police,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "",
          category: "- Bằng khen của Bộ trưởng, Thủ tướng cơ quan ngang Bộ",
          total: 0,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "10",
          category: "Giấy khen",
          total: this.count_collective_paper + this.count_personal_paper,
          ministry_level:
            this.count_collective_paper_B + this.count_personal_paper_B,
          provincial_level:
            this.count_collective_paper_UBNDT + this.count_personal_paper_UBNDT,
          district_level:
            this.count_collective_paper_UBNDH + this.count_personal_paper_UBNDH,
          commune_level:
            this.count_collective_paper_UBNDX + this.count_personal_paper_UBNDX
        },
        {
          id: "11",
          category: "Hình thức khác",
          total:
            this.count_forms_of_reward_collective_order +
            this.count_forms_of_reward_personal_order,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "12",
          category: "II. Kỷ luật (=13)",
          total: this.count_discipline,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "13",
          category: "Số cán bộ chiến sỹ bị xử lý kỷ luật",
          total: this.count_discipline,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "",
          category: "- Trong đó, số lãnh đạo cấp phòng và tương đương trở lên",
          total: 0,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "",
          category: "- Trong đó, đảng viên",
          total: 0,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "14",
          category: "Hình thức xử lý (= 15+… +23)",
          total: this.count_discipline,
          ministry_level: 0,
          provincial_level: 0,
          district_level: 0,
          commune_level: 0
        },
        {
          id: "15",
          category: "- Khiển trách",
          total: this.count_forms_of_discipline_reprimand,
          ministry_level: this.count_forms_of_discipline_reprimand_B,
          provincial_level: this.count_forms_of_discipline_reprimand_UBNDT,
          district_level: this.count_forms_of_discipline_reprimand_UBNDH,
          commune_level: this.count_forms_of_discipline_reprimand_UBNDX
        },
        {
          id: "16",
          category: "- Cảnh cáo",
          total: this.count_forms_of_discipline_warning,
          ministry_level: this.count_forms_of_discipline_warning_B,
          provincial_level: this.count_forms_of_discipline_warning_UBNDT,
          district_level: this.count_forms_of_discipline_warning_UBNDH,
          commune_level: this.count_forms_of_discipline_warning_UBNDX
        },
        {
          id: "17",
          category: "- Hạ bậc lương hoặc giáng cấp bậc hàm",
          total: this.count_forms_of_discipline_HBL_GCBH,
          ministry_level: this.count_forms_of_discipline_HBL_GCBH_B,
          provincial_level: this.count_forms_of_discipline_HBL_GCBH_UBNDT,
          district_level: this.count_forms_of_discipline_HBL_GCBH_UBNDH,
          commune_level: this.count_forms_of_discipline_HBL_GCBH_UBNDX
        },
        {
          id: "18",
          category:
            "- Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương",
          total: this.count_forms_of_discipline_GNCH_GCBH_HBL,
          ministry_level: this.count_forms_of_discipline_GNCH_GCBH_HBL_B,
          provincial_level: this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDT,
          district_level: this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDH,
          commune_level: this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDX
        },
        {
          id: "19",
          category: "- Giáng chức",
          total: this.count_forms_of_discipline_demote,
          ministry_level: this.count_forms_of_discipline_demote_B,
          provincial_level: this.count_forms_of_discipline_demote_UBNDT,
          district_level: this.count_forms_of_discipline_demote_UBNDH,
          commune_level: this.count_forms_of_discipline_demote_UBNDX
        },
        {
          id: "20",
          category: "- Cách chức",
          total: this.count_forms_of_discipline_dismiss,
          ministry_level: this.count_forms_of_discipline_dismiss_B,
          provincial_level: this.count_forms_of_discipline_dismiss_UBNDT,
          district_level: this.count_forms_of_discipline_dismiss_UBNDH,
          commune_level: this.count_forms_of_discipline_dismiss_UBNDX
        },
        {
          id: "21",
          category: "- Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương",
          total: this.count_forms_of_discipline_CC_GCBH_HBL,
          ministry_level: this.count_forms_of_discipline_CC_GCBH_HBL_B,
          provincial_level: this.count_forms_of_discipline_CC_GCBH_HBL_UBNDT,
          district_level: this.count_forms_of_discipline_CC_GCBH_HBL_UBNDH,
          commune_level: this.count_forms_of_discipline_CC_GCBH_HBL_UBNDX
        },
        {
          id: "22",
          category: "- Tước danh hiệu Công an nhân dân",
          total: this.count_forms_of_discipline_dismiss_title,
          ministry_level: this.count_forms_of_discipline_dismiss_title_B,
          provincial_level: this.count_forms_of_discipline_dismiss_title_UBNDT,
          district_level: this.count_forms_of_discipline_dismiss_title_UBNDH,
          commune_level: this.count_forms_of_discipline_dismiss_title_UBNDX
        },
        {
          id: "23",
          category: "- Khởi tố bị can",
          total: this.count_forms_of_discipline_KTBC,
          ministry_level: this.count_forms_of_discipline_KTBC_B,
          provincial_level: this.count_forms_of_discipline_KTBC_UBNDT,
          district_level: this.count_forms_of_discipline_KTBC_UBNDH,
          commune_level: this.count_forms_of_discipline_KTBC_UBNDX
        },
        {
          id: "24",
          category:
            "III. Số cán bộ Công an hy sinh, bị thương trong khi thi hành công vụ (=25+27)",
          total: this.count_duty,
          ministry_level: this.count_duty_ministry,
          provincial_level: this.count_duty_provincial,
          district_level: this.count_duty_district,
          commune_level: this.count_duty_commune
        },
        {
          id: "25",
          category: "- Hy sinh",
          total: this.count_die,
          ministry_level: this.count_die_ministry,
          provincial_level: this.count_die_provincial,
          district_level: this.count_die_district,
          commune_level: this.count_die_commune
        },
        {
          id: "26",
          category: "- Bị thương",
          total: this.count_injured,
          ministry_level: this.count_injured_ministry,
          provincial_level: this.count_injured_provincial,
          district_level: this.count_injured_district,
          commune_level: this.count_injured_commune
        },
        {
          id: "27",
          category:
            "- Số cán bộ, chiến sỹ bị phơi nhiễm HIV trong khi thi hành công vụ",
          total: this.count_hiv,
          ministry_level: this.count_hiv_ministry,
          provincial_level: this.count_hiv_provincial,
          district_level: this.count_hiv_district,
          commune_level: this.count_hiv_commune
        }
      ];
    },
    getFilter() {
      this.isLoading = true;
      axios
        .post("statistical/searchOptions", {
          sign_date: this.sign_date,
          received_date: this.received_date
        })
        .then(response => {
          this.isLoading = false;
          this.changeTitle(); // thay đổi title excel khi sự kiện lọc được khởi chạy
          let collective = response.data.data[0]; // Đại diện tập thể
          let personal = response.data.data[1]; // Đại diện cá nhân
          let discipline = response.data.data[2]; // Đại diện kỷ luật cán bộ
          let duty = response.data.data[3]; // Đại diện rủi ro cán bộ

          // Check tập thể
          this.count_collective = 0;
          this.count_collective_ministry = 0;
          this.count_collective_provincial = 0;
          this.count_collective_district = 0;
          this.count_collective_commune = 0;
          this.count_forms_of_reward_collective = 0;

          this.count_collective_star = 0; // Huân chương tập thể
          this.count_collective_star_B = 0; // Huân chương tập thể cáp bộ
          this.count_collective_star_UBNDT = 0; // Huân chương tập thể cáp tỉnh
          this.count_collective_star_UBNDH = 0; // Huân chương tập thể cáp huyện
          this.count_collective_star_UBNDX = 0; // Huân chương tập thể cáp xã

          this.count_collective_medal = 0; // Huy chương tập thể
          this.count_collective_medal_B = 0; // Huy chương tập thể cấp bộ
          this.count_collective_medal_UBNDT = 0; // Huy chương tập thể cấp tỉnh
          this.count_collective_medal_UBNDH = 0; // Huy chương tập thể cấp huyện
          this.count_collective_medal_UBNDX = 0; // Huy chương tập thể cấp xã

          this.count_collective_state_honors = 0; // Danh hiệu tập thể vinh dự nhà nước
          this.count_collective_state_honors_B = 0; // Danh hiệu tập thể vinh dự nhà nước cấp bộ
          this.count_collective_state_honors_UBNDT = 0; // Danh hiệu tập thể vinh dự nhà nước cấp tỉnh
          this.count_collective_state_honors_UBNDH = 0; // Danh hiệu tập thể vinh dự nhà nước cấp huyện
          this.count_collective_state_honors_UBNDX = 0; // Danh hiệu tập thể vinh dự nhà nước cấp xã

          this.count_collective_prize = 0; // Giải thưởng hồ chí minh tập thể
          this.count_collective_prize_B = 0; // Giải thưởng hồ chí minh tập thể cấp bộ
          this.count_collective_prize_UBNDT = 0; // Giải thưởng hồ chí minh tập thể cấp tỉnh
          this.count_collective_prize_UBNDH = 0; // Giải thưởng hồ chí minh tập thể cấp huyện
          this.count_collective_prize_UBNDX = 0; // Giải thưởng hồ chí minh tập thể cấp xã

          this.count_collective_diploma = 0; // Bằng khen
          this.count_collective_diploma_B = 0; // Bằng khen cấp bộ
          this.count_collective_diploma_UBNDT = 0; // Bằng khen cấp tỉnh
          this.count_collective_diploma_UBNDH = 0; // Bằng khen cấp huyện
          this.count_collective_diploma_UBNDX = 0; // Bằng khen cấp xã

          this.count_collective_diploma_prime_minister = 0;
          this.count_collective_diploma_police = 0;

          this.count_collective_paper = 0; // Giấy khen
          this.count_collective_paper_B = 0; // Giấy khen cấp bộ
          this.count_collective_paper_UBNDT = 0; // Giấy khen cấp tỉnh
          this.count_collective_paper_UBNDH = 0; // Giấy khen cấp huyện
          this.count_collective_paper_UBNDX = 0; // Giấy khen cấp xã

          this.count_forms_of_reward_collective_order = 0;

          let formsOfRewardCollective = [];
          let countCollective = 0;
          let startCollective = false;

          for (let i = 0; i < collective.length; i++) {
            if (collective[i].forms_of_reward_id === null) {
              startCollective = true;
            }
            countCollective++;
            if (countCollective === 1 && startCollective === false) {
              formsOfRewardCollective.push(collective[i].forms_of_reward_id);
            }
            startCollective = false;
            countCollective = 0;

            let getLevelCollective = collective[i].decision_agency_id;
            this.count_collective++; // số lượng khen thưởng
            if (this.received_date) {
              if (
                getLevelCollective === "BCA" ||
                getLevelCollective === "BGD-DT" ||
                getLevelCollective === "BGH" ||
                getLevelCollective === "BGD" ||
                getLevelCollective === "CUC-T" ||
                getLevelCollective === "TLĐLĐVN" ||
                getLevelCollective === "TUĐTNCSHCM" ||
                getLevelCollective === "TUHPNVN"
              ) {
                this.count_collective_ministry++;
              } else if (
                getLevelCollective === "UBNDT" ||
                getLevelCollective === "CĐCAND" ||
                getLevelCollective === "ĐTNBCA" ||
                getLevelCollective === "HPNBCA"
              ) {
                this.count_collective_provincial++;
              } else if (getLevelCollective === "UBNDH") {
                this.count_collective_district++;
              } else if (getLevelCollective === "UBNDX") {
                this.count_collective_commune++;
              } else {
                // this.count_collective_ministry = 0
              }
            }

            // =================== START HUY CHƯƠNG  (Viết tắt: medal || Còn huân chương viết tắt: star) ===========================
            // Code này là đếm tổng số huy chương trên đầu người
            if (collective[i].forms_of_reward_id.indexOf("HC") !== -1) {
              this.count_collective_medal++;
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_medal_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_medal_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_medal_UBNDX++;
              }
            }

            // else {
            //   this.count_collective_medal = 0
            // }
            // =================== END HUY CHƯƠNG  ===========================
            // ========================== START HUÂN CHƯƠNG TẬP THỂ ==========================

            // if (collective[i].forms_of_reward_id === 'HCSV') {
            //   if (collective[i].decision_agency_id === 'BCA' || collective[i].decision_agency_id === 'BGD-DT') {
            //     this.count_collective_star_B++
            //   }
            // }

            if (collective[i].forms_of_reward_id.indexOf("HUANCHUONG") !== -1) {
              this.count_collective_star++;
              if (
                collective[i].decision_agency_id === "BCA" ||
                collective[i].decision_agency_id === "BGD-DT" ||
                collective[i].decision_agency_id === "BGH" ||
                collective[i].decision_agency_id === "BGD" ||
                collective[i].decision_agency_id === "CUC-T" ||
                collective[i].decision_agency_id === "TLĐLĐVN" ||
                collective[i].decision_agency_id === "TUĐTNCSHCM" ||
                collective[i].decision_agency_id === "TUHPNVN"
              ) {
                this.count_collective_star_B++;
              }
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_star_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_star_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_star_UBNDX++;
              }
            }
            // else {
            //   this.count_collective_star = 0
            // }
            // ========================== START HUÂN CHƯƠNG TẬP THỂ ==========================
            // ========================== START DANH HIỆU VINH DANH NHÀ NƯỚC TẬP THỂ ==================
            // if (collective[i].forms_of_reward_id === 'DHVDNN') {
            if (collective[i].forms_of_reward_id.indexOf("DHVDNN") !== -1) {
              this.count_collective_state_honors++;
              if (
                collective[i].decision_agency_id === "BCA" ||
                collective[i].decision_agency_id === "BGD-DT" ||
                collective[i].decision_agency_id === "BGH" ||
                collective[i].decision_agency_id === "BGD" ||
                collective[i].decision_agency_id === "CUC-T" ||
                collective[i].decision_agency_id === "TLĐLĐVN" ||
                collective[i].decision_agency_id === "TUĐTNCSHCM" ||
                collective[i].decision_agency_id === "TUHPNVN"
              ) {
                this.count_collective_state_honors_B++;
              }
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_state_honors_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_state_honors_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_state_honors_UBNDX++;
              }
            }
            // ========================== END DANH HIỆU VINH DANH NHÀ NƯỚC TẬP THỂ =====================
            // ========================== START GIẢI THƯỞNG HCM - GIẢI THƯỞNG NHÀ NƯỚC TẬP THỂ ===================
            if (collective[i].forms_of_reward_id === "GTHCM-GTNN") {
              this.count_collective_prize++;
              if (
                collective[i].decision_agency_id === "BCA" ||
                collective[i].decision_agency_id === "BGD-DT" ||
                collective[i].decision_agency_id === "BGH" ||
                collective[i].decision_agency_id === "BGD" ||
                collective[i].decision_agency_id === "CUC-T" ||
                collective[i].decision_agency_id === "TLĐLĐVN" ||
                collective[i].decision_agency_id === "TUĐTNCSHCM" ||
                collective[i].decision_agency_id === "TUHPNVN"
              ) {
                this.count_collective_prize_B++;
              }
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_prize_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_prize_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_prize_UBNDX++;
              }
            }
            // ========================== END GIẢI THƯỞNG HCM - GIẢI THƯỞNG NHÀ NƯỚC TẬP THỂ =====================
            // ========================== START BẰNG KHEN TẬP THỂ ===================
            if (collective[i].forms_of_reward_id === "BK") {
              this.count_collective_diploma++;
              if (
                collective[i].decision_agency_id === "BCA" ||
                collective[i].decision_agency_id === "BGD-DT" ||
                collective[i].decision_agency_id === "BGH" ||
                collective[i].decision_agency_id === "BGD" ||
                collective[i].decision_agency_id === "CUC-T" ||
                collective[i].decision_agency_id === "TLĐLĐVN" ||
                collective[i].decision_agency_id === "TUĐTNCSHCM" ||
                collective[i].decision_agency_id === "TUHPNVN"
              ) {
                this.count_collective_diploma_B++;
              }
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_diploma_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_diploma_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_diploma_UBNDX++;
              }
            }
            // ========================== END BẰNG KHEN TẬP THỂ =====================
            // ========================== START BẰNG KHEN THỦ TƯỚNG CHÍNH PHỦ TẬP THỂ ===================
            if (
              collective[i].forms_of_reward_id === "BK" &&
              collective[i].decision_agency_id === "CP"
            ) {
              this.count_collective_diploma_prime_minister++;
            }
            // ========================== END BẰNG KHEN THỦ TƯỚNG CHÍNH PHỦ TẬP THỂ =====================
            // ========================== START BẰNG KHEN BỘ CÔNG AN TẬP THỂ ===================
            if (
              collective[i].forms_of_reward_id === "BK" &&
              collective[i].decision_agency_id === "BCA"
            ) {
              this.count_collective_diploma_police++;
            }
            // ========================== END BẰNG KHEN BỘ CÔNG AN TẬP THỂ =====================
            // ========================== START GIẤY KHEN TẬP THỂ ===================
            if (collective[i].forms_of_reward_id === "GK") {
              this.count_collective_paper++;
              if (
                collective[i].decision_agency_id === "BCA" ||
                collective[i].decision_agency_id === "BGD-DT" ||
                collective[i].decision_agency_id === "BGH" ||
                collective[i].decision_agency_id === "BGD" ||
                collective[i].decision_agency_id === "CUC-T" ||
                collective[i].decision_agency_id === "TLĐLĐVN" ||
                collective[i].decision_agency_id === "TUĐTNCSHCM" ||
                collective[i].decision_agency_id === "TUHPNVN"
              ) {
                this.count_collective_paper_B++;
              }
              if (
                collective[i].decision_agency_id === "UBNDT" ||
                collective[i].decision_agency_id === "CĐCAND" ||
                collective[i].decision_agency_id === "ĐTNBCA" ||
                collective[i].decision_agency_id === "HPNBCA"
              ) {
                this.count_collective_paper_UBNDT++;
              }
              if (collective[i].decision_agency_id === "UBNDH") {
                this.count_collective_paper_UBNDH++;
              }
              if (collective[i].decision_agency_id === "UBNDX") {
                this.count_collective_paper_UBNDX++;
              }
              // eslint-disable-next-line brace-style
            }
            // ========================== END GIẤY KHEN TẬP THỂ =====================
            // ========================== START HÌNH THỨC KHÁC TẬP THỂ =====================
            else {
              this.count_forms_of_reward_collective_order = 0;
            }
            // ========================== END HÌNH THỨC KHÁC TẬP THỂ =====================
          }

          this.count_forms_of_reward_collective =
            formsOfRewardCollective.length;

          // Check cá nhân

          // Rủi ro cho cán bộ
          this.count_duty = 0; // rủi ro
          this.count_duty_ministry = 0; // cấp bộ
          this.count_duty_provincial = 0; // cấp tỉnh
          this.count_duty_district = 0; // cấp huyện
          this.count_duty_commune = 0; // cấp xã

          // Hy sinh cho cán bộ
          this.count_die = 0; // hy sinh
          this.count_die_ministry = 0; // cấp bộ
          this.count_die_provincial = 0; // cấp tỉnh
          this.count_die_district = 0; // cấp huyện
          this.count_die_commune = 0; // cấp xã

          // bị thương cho cán bộ
          this.count_injured = 0; // hy sinh
          this.count_injured_ministry = 0; // bị thương
          this.count_injured_provincial = 0; // cấp tỉnh
          this.count_injured_district = 0; // cấp huyện
          this.count_injured_commune = 0; // cấp xã

          // Kỉ luật
          this.count_discipline = 0;
          this.count_forms_of_discipline_reprimand = 0; // Khiển trách
          this.count_forms_of_discipline_reprimand_B = 0; // Khiển trách cấp bộ
          this.count_forms_of_discipline_reprimand_UBNDT = 0; // Khiển trách cấp tỉnh
          this.count_forms_of_discipline_reprimand_UBNDH = 0; // Khiển trách cấp huyện
          this.count_forms_of_discipline_reprimand_UBNDX = 0; // Khiển trách cấp xã

          this.count_forms_of_discipline_warning = 0; // Cảnh cáo
          this.count_forms_of_discipline_warning_B = 0; // Cảnh cáo cấp bộ
          this.count_forms_of_discipline_warning_UBNDT = 0; // cảnh cáo cấp tỉnh
          this.count_forms_of_discipline_warning_UBNDH = 0; // cảnh cáo cấp huyện
          this.count_forms_of_discipline_warning_UBNDX = 0; // cảnh cáo cấp xã

          this.count_forms_of_discipline_HBL_GCBH = 0; // Hạ bậc lương hoặc giáng cấp bậc hàm
          this.count_forms_of_discipline_HBL_GCBH_B = 0; // Hạ bậc lương hoặc giáng cấp bậc hàm cấp bộ
          this.count_forms_of_discipline_HBL_GCBH_UBNDT = 0; // Hạ bậc lương hoặc giáng cấp bậc hàm cấp tỉnh
          this.count_forms_of_discipline_HBL_GCBH_UBNDH = 0; // Hạ bậc lương hoặc giáng cấp bậc hàm cấp huyện
          this.count_forms_of_discipline_HBL_GCBH_UBNDX = 0; // Hạ bậc lương hoặc giáng cấp bậc hàm cấp xã

          this.count_forms_of_discipline_GNCH_GCBH_HBL = 0; // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương
          this.count_forms_of_discipline_GNCH_GCBH_HBL_B = 0; // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp bộ
          this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDT = 0; // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp tỉnh
          this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDH = 0; // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp huyện
          this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDX = 0; // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương cấp xã

          this.count_forms_of_discipline_demote = 0; // Giáng chức
          this.count_forms_of_discipline_demote_B = 0; // Giáng chức cấp bộ
          this.count_forms_of_discipline_demote_UBNDT = 0; // Giáng chức cấp tỉnh
          this.count_forms_of_discipline_demote_UBNDH = 0; // Giáng chức cấp huyện
          this.count_forms_of_discipline_demote_UBNDX = 0; // Giáng chức cấp xã

          this.count_forms_of_discipline_dismiss = 0; // Cách chức
          this.count_forms_of_discipline_dismiss_B = 0; // Cách chức cấp bộ
          this.count_forms_of_discipline_dismiss_UBNDT = 0; // Cách chức cấp tỉnh
          this.count_forms_of_discipline_dismiss_UBNDH = 0; // Cách chức cấp huyện
          this.count_forms_of_discipline_dismiss_UBNDX = 0; // Cách chức cấp xã

          this.count_forms_of_discipline_CC_GCBH_HBL = 0; // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương
          this.count_forms_of_discipline_CC_GCBH_HBL_B = 0; // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp bộ
          this.count_forms_of_discipline_CC_GCBH_HBL_UBNDT = 0; // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp tỉnh
          this.count_forms_of_discipline_CC_GCBH_HBL_UBNDH = 0; // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp huyện
          this.count_forms_of_discipline_CC_GCBH_HBL_UBNDX = 0; // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương cấp xã

          this.count_forms_of_discipline_KTBC = 0; // Khởi tố bị can
          this.count_forms_of_discipline_KTBC_B = 0; // Khởi tố bị can cấp bộ
          this.count_forms_of_discipline_KTBC_UBNDT = 0; // Khởi tố bị can cấp tỉnh
          this.count_forms_of_discipline_KTBC_UBNDH = 0; // Khởi tố bị can cấp huyện
          this.count_forms_of_discipline_KTBC_UBNDX = 0; // Khởi tố bị can cấp xã

          this.count_forms_of_discipline_dismiss_title = 0; // Tước danh hiệu CAND
          this.count_forms_of_discipline_dismiss_title_B = 0; // Tước danh hiệu CAND cấp bộ
          this.count_forms_of_discipline_dismiss_title_UBNDT = 0; // Tước danh hiệu CAND cáp tỉnh
          this.count_forms_of_discipline_dismiss_title_UBNDH = 0; // Tước danh hiệu CAND cáp huyện
          this.count_forms_of_discipline_dismiss_title_UBNDX = 0; // Tước danh hiệu CAND cáp xã

          // Khen thưởng
          this.count_personal = 0;
          this.count_personal_ministry = 0;
          this.count_personal_provincial = 0;
          this.count_personal_district = 0;
          this.count_personal_commune = 0;
          this.count_forms_of_reward_personal = 0;

          this.count_personal_star = 0; // Huân chương
          this.count_personal_star_B = 0; // Huân chương cấp bộ
          this.count_personal_star_UBNDT = 0; // Huân chương cấp bộ
          this.count_personal_star_UBNDH = 0; // Huân chương cấp huyện
          this.count_personal_star_UBNDX = 0; // Huân chương cấp tỉnh

          this.count_personal_medal = 0; // Huy chưởng
          this.count_personal_medal_B = 0; // Huy chưởng cấp bộ
          this.count_personal_medal_UBNDT = 0; // Huy chưởng cấp tỉnh
          this.count_personal_medal_UBNDH = 0; // Huy chưởng cấp huyện
          this.count_personal_medal_UBNDX = 0; // Huy chưởng cấp xã

          this.count_personal_state_honors = 0; // Danh hiệu vinh dự nhà nước
          this.count_personal_state_honors_B = 0; // Danh hiệu vinh dự nhà nước cấp bộ
          this.count_collective_state_honors_UBNDT = 0; // Danh hiệu vinh dự nhà nước cấp tỉnh
          this.count_collective_state_honors_UBNDH = 0; // Danh hiệu vinh dự nhà nước cấp huyện
          this.count_collective_state_honors_UBNDX = 0; // Danh hiệu vinh dự nhà nước cấp xã

          this.count_personal_prize = 0; // Giải thưởng HCM cá nhân
          this.count_personal_prize_B = 0; // Giải thưởng HCM cá nhân cấp bộ
          this.count_personal_prize_UBNDT = 0; // Giải thưởng HCM cá nhân cấp tỉnh
          this.count_personal_prize_UBNDH = 0; // Giải thưởng HCM cá nhân cấp huyện
          this.count_personal_prize_UBNDX = 0; // Giải thưởng HCM cá nhân cấp xã

          this.count_personal_diploma = 0; // Bằng khen
          this.count_personal_diploma_B = 0; // Bằng khen cấp bộ
          this.count_personal_diploma_UBNDT = 0; // Bằng khen cấp tỉnh
          this.count_personal_diploma_UBNDH = 0; // Bằng khen cấp huyện
          this.count_personal_diploma_UBNDX = 0; // Bằng khen cấp xã

          this.count_personal_diploma_prime_minister = 0;
          this.count_personal_diploma_police = 0;

          this.count_personal_paper = 0; // Giấy khen cá nhân
          this.count_personal_paper_B = 0; // Giấy khen cá nhân cấp bộ
          this.count_personal_paper_UBNDT = 0; // Giấy khen cá nhân cấp tỉnh
          this.count_personal_paper_UBNDH = 0; // Giấy khen cá nhân cấp huyện
          this.count_personal_paper_UBNDX = 0; // Giấy khen cá nhân cấp xã

          this.count_forms_of_reward_personal_order = 0;

          // RỦI RO HIV CÁN BỘ
          this.count_hiv = 0; // HIV
          this.count_hiv_ministry = 0; // HIV cấp bộ
          this.count_hiv_provincial = 0; // HIV cấp tỉnh
          this.count_hiv_district = 0; // HIV cấp huyện
          this.count_hiv_commune = 0; // HIV cấp xã

          // RỦI RO BỊ THƯƠNG CÁN BỘ
          this.count_injured = 0; // BỊ THƯƠNG
          this.count_injured_ministry = 0; // BỊ THƯƠNG cấp bộ
          this.count_injured_provincial = 0; // BỊ THƯƠNG cấp tỉnh
          this.count_injured_district = 0; // BỊ THƯƠNG cấp huyện
          this.count_injured_commune = 0; // BỊ THƯƠNG cấp xã

          // RỦI RO HY SINH CÁN BỘ
          this.count_die = 0; // HY SINH
          this.count_die_ministry = 0; // HY SINH cấp bộ
          this.count_die_provincial = 0; // HY SINH cấp tỉnh
          this.count_die_district = 0; // HY SINH cấp huyện
          this.count_die_commune = 0; // HY SINH cấp xã

          // ====================== START PHẦN HÌNH THỨC KHEN THƯỞNG CÁ NHÂN ======================

          let formsOfRewardPersonal = [];
          let countPersonal = 0;
          let startPersonal = false;

          // Rủi ro cán bộ
          for (let g = 0; g < duty.length; g++) {
            this.count_duty++;
            // chỉ cán bộ hy sinh
            if (duty[g].forms_risk_id.indexOf("HS") !== -1) {
              this.count_die++;
              if (
                duty[g].decision_agency_id === "BCA" ||
                duty[g].decision_agency_id === "BGD-DT" ||
                duty[g].decision_agency_id === "BGH" ||
                duty[g].decision_agency_id === "BGD" ||
                duty[g].decision_agency_id === "CUC-T" ||
                duty[g].decision_agency_id === "TLĐLĐVN" ||
                duty[g].decision_agency_id === "TUĐTNCSHCM" ||
                duty[g].decision_agency_id === "TUHPNVN"
              ) {
                this.count_die_ministry++;
              }
              if (
                duty[g].decision_agency_id === "UBNDT" ||
                duty[g].decision_agency_id === "CĐCAND" ||
                duty[g].decision_agency_id === "ĐTNBCA" ||
                duty[g].decision_agency_id === "HPNBCA"
              ) {
                this.count_die_provincial++;
              }
              if (duty[g].decision_agency_id === "UBNDH") {
                this.count_die_district++;
              }
              if (duty[g].decision_agency_id === "UBNDX") {
                this.count_die_commune++;
              }
            }

            // Chỉ cán bộ bị thương
            if (duty[g].forms_risk_id.indexOf("BT") !== -1) {
              this.count_injured++;
              if (
                duty[g].decision_agency_id === "BCA" ||
                duty[g].decision_agency_id === "BGD-DT" ||
                duty[g].decision_agency_id === "BGH" ||
                duty[g].decision_agency_id === "BGD" ||
                duty[g].decision_agency_id === "CUC-T" ||
                duty[g].decision_agency_id === "TLĐLĐVN" ||
                duty[g].decision_agency_id === "TUĐTNCSHCM" ||
                duty[g].decision_agency_id === "TUHPNVN"
              ) {
                this.count_injured_ministry++;
              }
              if (
                duty[g].decision_agency_id === "UBNDT" ||
                duty[g].decision_agency_id === "CĐCAND" ||
                duty[g].decision_agency_id === "ĐTNBCA" ||
                duty[g].decision_agency_id === "HPNBCA"
              ) {
                this.count_injured_provincial++;
              }
              if (duty[g].decision_agency_id === "UBNDH") {
                this.count_injured_district++;
              }
              if (duty[g].decision_agency_id === "UBNDX") {
                this.count_injured_commune++;
              }
            }

            // Chỉ cán bộ phơi nhiễm HIV
            if (duty[g].forms_risk_id.indexOf("HIV") !== -1) {
              this.count_hiv++;
              if (
                duty[g].decision_agency_id === "BCA" ||
                duty[g].decision_agency_id === "BGD-DT" ||
                duty[g].decision_agency_id === "BGH" ||
                duty[g].decision_agency_id === "BGD" ||
                duty[g].decision_agency_id === "CUC-T" ||
                duty[g].decision_agency_id === "TLĐLĐVN" ||
                duty[g].decision_agency_id === "TUĐTNCSHCM" ||
                duty[g].decision_agency_id === "TUHPNVN"
              ) {
                this.count_hiv_ministry++;
              }
              if (
                duty[g].decision_agency_id === "UBNDT" ||
                duty[g].decision_agency_id === "CĐCAND" ||
                duty[g].decision_agency_id === "ĐTNBCA" ||
                duty[g].decision_agency_id === "HPNBCA"
              ) {
                this.count_hiv_provincial++;
              }
              if (duty[g].decision_agency_id === "UBNDH") {
                this.count_hiv_district++;
              }
              if (duty[g].decision_agency_id === "UBNDX") {
                this.count_hiv_commune++;
              }
            }
          }

          // Kỷ luật
          for (let k = 0; k < discipline.length; k++) {
            this.count_discipline++;
            // Khiển trách
            if (discipline[k].forms_of_discipline_id === "KT") {
              this.count_forms_of_discipline_reprimand++;
            }
            if (discipline[k].forms_of_discipline_id === "KT") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_reprimand_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "KT" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_reprimand_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "KT" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_reprimand_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "KT" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_reprimand_UBNDX++;
            }

            // Cảnh cáo
            if (discipline[k].forms_of_discipline_id === "C-CA") {
              this.count_forms_of_discipline_warning++;
            }
            if (discipline[k].forms_of_discipline_id === "C-CA") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_warning_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "C-CA" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_warning_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "C-CA" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_warning_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "C-CA" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_warning_UBNDX++;
            }

            // Hạ bậc lương hoặc giáng cấp bậc hàm
            if (discipline[k].forms_of_discipline_id === "HBL-GCBH") {
              this.count_forms_of_discipline_HBL_GCBH++;
            }
            if (discipline[k].forms_of_discipline_id === "HBL-GCBH") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_HBL_GCBH_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "HBL-GCBH" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_HBL_GCBH_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "HBL-GCBH" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_HBL_GCBH_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "HBL-GCBH" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_HBL_GCBH_UBNDX++;
            }

            // Giáng nhiều cấp hàm hoặc giáng cấp bậc hàm và hạ bậc lương
            if (discipline[k].forms_of_discipline_id === "GNCH-GCBH-HBL") {
              this.count_forms_of_discipline_GNCH_GCBH_HBL++;
            }
            if (discipline[k].forms_of_discipline_id === "GNCH-GCBH-HBL") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_GNCH_GCBH_HBL_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "GNCH-GCBH-HBL" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "GNCH-GCBH-HBL" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "GNCH-GCBH-HBL" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_GNCH_GCBH_HBL_UBNDX++;
            }

            // Giáng chức
            if (discipline[k].forms_of_discipline_id === "GC") {
              this.count_forms_of_discipline_demote++;
            }
            if (discipline[k].forms_of_discipline_id === "GC") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_demote_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "GC" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_demote_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "GC" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_demote_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "GC" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_demote_UBNDX++;
            }

            // Cách chức
            if (discipline[k].forms_of_discipline_id === "CC") {
              this.count_forms_of_discipline_dismiss++;
            }
            if (discipline[k].forms_of_discipline_id === "CC") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_dismiss_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "CC" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_dismiss_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "CC" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_dismiss_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "CC" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_dismiss_UBNDX++;
            }

            // Cách chức và giáng cấp bậc hàm hoặc hạ bậc lương
            if (discipline[k].forms_of_discipline_id === "CC-GCBH-HBL") {
              this.count_forms_of_discipline_CC_GCBH_HBL++;
            }
            if (discipline[k].forms_of_discipline_id === "CC-GCBH-HBL") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_CC_GCBH_HBL_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "CC-GCBH-HBL" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_CC_GCBH_HBL_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "CC-GCBH-HBL" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_CC_GCBH_HBL_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "CC-GCBH-HBL" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_CC_GCBH_HBL_UBNDX++;
            }

            // Khởi tố bị can
            if (discipline[k].forms_of_discipline_id === "KTBC") {
              this.count_forms_of_discipline_KTBC++;
            }
            if (discipline[k].forms_of_discipline_id === "KTBC") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_KTBC_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "KTBC" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_KTBC_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "KTBC" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_KTBC_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "KTBC" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_KTBC_UBNDX++;
            }

            // Tước danh hiệu CAND
            if (discipline[k].forms_of_discipline_id === "TDHCAND") {
              this.count_forms_of_discipline_dismiss_title++;
            }
            if (discipline[k].forms_of_discipline_id === "TDHCAND") {
              if (
                discipline[k].decision_agency_id === "BCA" ||
                discipline[k].decision_agency_id === "BGD-DT" ||
                discipline[k].decision_agency_id === "BGH" ||
                discipline[k].decision_agency_id === "BGD" ||
                discipline[k].decision_agency_id === "CUC-T" ||
                discipline[k].decision_agency_id === "TLĐLĐVN" ||
                discipline[k].decision_agency_id === "TUĐTNCSHCM" ||
                discipline[k].decision_agency_id === "TUHPNVN"
              ) {
                this.count_forms_of_discipline_dismiss_title_B++;
              }
            }
            if (
              (discipline[k].forms_of_discipline_id === "TDHCAND" &&
                discipline[k].decision_agency_id === "UBNDT") ||
              discipline[k].decision_agency_id === "CĐCAND" ||
              discipline[k].decision_agency_id === "ĐTNBCA" ||
              discipline[k].decision_agency_id === "HPNBCA"
            ) {
              this.count_forms_of_discipline_dismiss_title_UBNDT++;
            }
            if (
              discipline[k].forms_of_discipline_id === "TDHCAND" &&
              discipline[k].decision_agency_id === "UBNDH"
            ) {
              this.count_forms_of_discipline_dismiss_title_UBNDH++;
            }
            if (
              discipline[k].forms_of_discipline_id === "TDHCAND" &&
              discipline[k].decision_agency_id === "UBNDX"
            ) {
              this.count_forms_of_discipline_dismiss_title_UBNDX++;
            }
          }

          // Khen thưởng
          for (let j = 0; j < personal.length; j++) {
            if (personal[j].forms_of_reward_id === null) {
              startPersonal = true;
            }
            countPersonal++;
            if (countPersonal === 1 && startPersonal === false) {
              formsOfRewardPersonal.push(personal[j].forms_of_reward_id);
            }
            startPersonal = false;
            countPersonal = 0;

            // ====================== END PHẦN HÌNH THỨC KHEN THƯỞNG CÁ NHÂN ======================
            var getLevelPersonal = personal[j].decision_agency_id;
            this.count_personal++; // số lượng khen thưởng

            if (
              getLevelPersonal === "BCA" ||
              getLevelPersonal === "BGD-DT" ||
              getLevelPersonal === "BGH" ||
              getLevelPersonal === "BGD" ||
              getLevelPersonal === "CUC-T" ||
              getLevelPersonal === "TLĐLĐVN" ||
              getLevelPersonal === "TUĐTNCSHCM" ||
              getLevelPersonal === "TUHPNVN"
            ) {
              this.count_personal_ministry++;
            } else if (
              getLevelPersonal === "UBNDT" ||
              getLevelPersonal === "CĐCAND" ||
              getLevelPersonal === "ĐTNBCA" ||
              getLevelPersonal === "HPNBCA"
            ) {
              this.count_personal_provincial++;
            } else if (getLevelPersonal === "UBNDH") {
              this.count_personal_district++;
            } else if (getLevelPersonal === "UBNDX") {
              this.count_personal_commune++;
            } else {
            }

            // ========================== START HUY CHƯƠNG CÁ NHÂN ==========================
            if (personal[j].forms_of_reward_id.indexOf("HC") !== -1) {
              this.count_personal_medal++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_medal_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_medal_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_medal_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_medal_UBNDX++;
              }
            }
            // else {
            //   this.count_personal_medal = 0
            // }
            // ========================== END HUY CHƯƠNG CÁ NHÂN ==========================

            // ========================== START HUÂN CHƯƠNG CÁ NHÂN ==========================
            if (personal[j].forms_of_reward_id.indexOf("HUANCHUONG") !== -1) {
              this.count_personal_star++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_star_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_star_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_star_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_star_UBNDX++;
              }
            }
            // else {
            //   this.count_personal_star = 0
            // }
            // ========================== START HUÂN CHƯƠNG CÁ NHÂN ==========================
            // ========================== START DANH HIỆU VINH DANH NHÀ NƯỚC CÁ NHÂN ==========================
            // if (personal[j].forms_of_reward_id === 'DHVDNN') {
            if (personal[j].forms_of_reward_id.indexOf("DHVDNN") !== -1) {
              this.count_personal_state_honors++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_state_honors_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_state_honors_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_state_honors_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_state_honors_UBNDX++;
              }
            }
            // ========================== END DANH HIỆU VINH DANH NHÀ NƯỚC CÁ NHÂN ==========================
            // ========================== START GIẢI THƯỞNG HCM - GIẢI THƯỞNG NHÀ NƯỚC CÁ NHÂN ===================
            if (personal[j].forms_of_reward_id === "GTHCM-GTNN") {
              this.count_personal_prize++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_prize_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_prize_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_prize_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_prize_UBNDX++;
              }
            }
            // ========================== END GIẢI THƯỞNG HCM - GIẢI THƯỞNG NHÀ NƯỚC CÁ NHÂN =====================
            // ========================== START BẰNG KHEN CÁ NHÂN ===================
            if (personal[j].forms_of_reward_id === "BK") {
              this.count_personal_diploma++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_diploma_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_diploma_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_diploma_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_diploma_UBNDX++;
              }
            }
            // ========================== END GIẢI BẰNG KHEN CÁ NHÂN =====================
            // ========================== START BẰNG KHEN THỦ TƯỚNG CHÍNH PHỦ CÁ NHÂN ===================
            if (
              personal[j].forms_of_reward_id === "BK" &&
              personal[j].decision_agency_id === "CP"
            ) {
              this.count_personal_diploma_prime_minister++;
            }
            // ========================== END GIẢI BẰNG KHEN THỦ TƯỚNG CHÍNH PHỦ CÁ NHÂN =====================
            // ========================== START BẰNG KHEN BỘ CÔNG AN CÁ NHÂN ===================
            if (
              personal[j].forms_of_reward_id === "BK" &&
              personal[j].decision_agency_id === "BCA"
            ) {
              this.count_personal_diploma_police++;
            }
            // ========================== END BẰNG KHEN BỘ CÔNG AN CÁ NHÂN =====================
            // ========================== START GIẤY KHEN CÁ NHÂN ===================
            if (personal[j].forms_of_reward_id === "GK") {
              this.count_personal_paper++;
              if (
                personal[j].decision_agency_id === "BCA" ||
                personal[j].decision_agency_id === "BGD-DT" ||
                personal[j].decision_agency_id === "BGH" ||
                personal[j].decision_agency_id === "BGD" ||
                personal[j].decision_agency_id === "CUC-T" ||
                personal[j].decision_agency_id === "TLĐLĐVN" ||
                personal[j].decision_agency_id === "TUĐTNCSHCM" ||
                personal[j].decision_agency_id === "TUHPNVN"
              ) {
                this.count_personal_paper_B++;
              }
              if (
                personal[j].decision_agency_id === "UBNDT" ||
                personal[j].decision_agency_id === "CĐCAND" ||
                personal[j].decision_agency_id === "ĐTNBCA" ||
                personal[j].decision_agency_id === "HPNBCA"
              ) {
                this.count_personal_paper_UBNDT++;
              }
              if (personal[j].decision_agency_id === "UBNDH") {
                this.count_personal_paper_UBNDH++;
              }
              if (personal[j].decision_agency_id === "UBNDX") {
                this.count_personal_paper_UBNDX++;
              }
              // eslint-disable-next-line brace-style
            }
            // ========================== END GIẤY KHEN CÁ NHÂN =====================
            // ========================== START HÌNH THỨC KHÁC CÁ NHÂN =====================
            else {
              this.count_forms_of_reward_personal_order = 0;
            }
            // ========================== END HÌNH THỨC KHÁC CÁ NHÂN =====================
          }

          this.count_forms_of_reward_personal = formsOfRewardPersonal.length;

          this.getList();
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    }
  }
};
</script>
