<template>
  <div class="wrapper">
    <!--sidebar-->
    <Sidebar />
    <!--top navbar-->
    <Header />
    <!--Content-->
    <router-view />
    <!--Page footer-->
    <Footer />
  </div>
  <!-- ./wrapper -->
</template>

<script>
import Header from "./Header";
import Sidebar from "./Sidebar";
import Footer from "./Footer";

export default {
  name: "Basic",
  components: {
    Header,
    Sidebar,
    Footer
  },
  data() {
    return {
      list_users: [],
      isLoading: false
    };
  }
};
</script>
