<template>
  <footer class="main-footer">
    <strong
      >Copyright &copy; 2020 <a href="http://adminlte.io">CAND</a>.</strong
    >
    Bản quyền thuộc Trường Đại học Cảnh sát nhân dân
    <div class="float-right d-none d-sm-inline-block">
      <b>CAND</b>
    </div>
  </footer>
</template>

<script></script>
