<template>
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown"></li>
      <button
        class="btn btn-outline-danger"
        v-if="loggedIn"
        @click.prevent="logout"
      >
        Thoát
      </button>
    </ul>
  </nav>
  <!-- /.navbar -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      list_users: [],
      isLoading: false
    };
  },
  mounted() {
    if (!localStorage.getItem("token")) {
      this.logout();
    }
    if (!this.setUserDetails.role) {
      this.$router.push("/index404");
    }
  },
  created() {
    this.checkUserState();
  },
  computed: {
    ...mapGetters({
      loggedIn: "auth/loggedIn",
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions({
      logoutUser: "auth/logoutUser",
      checkUserState: "auth/setLoggedInState"
    }),
    logout() {
      this.logoutUser().then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>
