<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="/logo/dhcs.png"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block"
            >QUẢN LÝ THI ĐUA,<br />
            KHEN THƯỞNG <br />
            TRONG CAND</a
          >
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li
            v-if="
              setUserDetails.role === 'Administrator' ||
                setUserDetails.role === 'checker'
            "
            class="nav-item has-treeview menu-open"
          >
            <router-link to="/home" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tổng quan
              </p>
            </router-link>
          </li>
          <!--          Tài khoản-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <router-link :to="{ name: 'user.index' }" class="nav-link">
              <i class="nav-icon fas fa-shield-alt"></i>
              <p>
                Tài khoản
              </p>
            </router-link>
          </li>
          <!--          Ý kiến phản hồi -->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <router-link :to="{ name: 'comment.index' }" class="nav-link">
              <i class="nav-icon far fa-lightbulb"></i>
              <p>
                Ý kiến phản hồi
              </p>
            </router-link>
          </li>
          <!--          Đơn vị-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fas fa-university"></i>
              <p>
                Đơn vị
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'school.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Đơn vị trên cơ sở</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'unit.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Đơn vị cơ sở</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'team.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Đơn vị thuộc cơ sở</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Cán bộ -->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fas fa-user-tie"></i>
              <p>
                Cán bộ
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'staff.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Danh sách</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'typeStaff.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Loại</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'rankStaff.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Cấp bậc</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'positionStaff.index' }"
                  >
                    <i class="nav-icon">4.</i>
                    <p>Chức vụ</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Quá trình công tác-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-exchange-alt"></i>
              <p>
                Thay đổi đơn vị
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'changePersonal.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Cá nhân</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'changeCollective.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Tập thể</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Danh hiệu cá nhân -->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                Danh hiệu thi đua
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'personalTitle.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Cá nhân</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'collectiveTitle.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Tập thể</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Hình thức khen thưởng-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fas fa-boxes"></i>
              <p>
                Hình thức
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'formsOfReward.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Khen thưởng</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'formsOfDiscipline.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Kỷ luật</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'formsRisk.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Rủi ro</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Đăng kí, kết quả thi đua-->
          <li
            v-if="
              setUserDetails.role === 'Administrator' ||
                setUserDetails.role === 'checker'
            "
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-pencil-alt"></i>
              <p>
                Đăng ký, kết quả thi đua
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'checkedReward.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Cá nhân đã duyệt</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'checkedCollectiveReward.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Đơn vị đã duyệt</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'registerReward.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Cá nhân đang chờ duyệt</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'registerCollectiveReward.index' }"
                  >
                    <i class="nav-icon">4.</i>
                    <p>Đơn vị đang chờ duyệt</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'personalRewardResult.index' }"
                  >
                    <i class="nav-icon">5.</i>
                    <p>Kết quả thi đua cá nhân</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'collectiveRewardResult.index' }"
                  >
                    <i class="nav-icon">6.</i>
                    <p>Kết quả thi đua đơn vị</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Văn bản - quyết định-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-torah"></i>
              <p>
                Văn bản - Quyết định
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'document.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Văn bản</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'decision.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Quyết định</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'decisionAgency.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Cơ quan quyết định</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Thống kê báo cáo-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Khen thưởng, kỷ luật
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'personalReward.index' }"
                  >
                    <i class="nav-icon">1.</i>
                    <p>Khen thưởng cá nhân</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'collectiveReward.index' }"
                  >
                    <i class="nav-icon">2.</i>
                    <p>Khen thưởng tập thể</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'riskDuty.index' }"
                  >
                    <i class="nav-icon">3.</i>
                    <p>Rủi ro cán bộ</p>
                  </router-link>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <router-link
                    class="nav-link"
                    tag="li"
                    :to="{ name: 'discipline.index' }"
                  >
                    <i class="nav-icon">4.</i>
                    <p>Kỷ luật cá nhân</p>
                  </router-link>
                </a>
              </li>
            </ul>
          </li>
          <!--          Thống kê báo cáo-->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <router-link
              class="nav-link"
              tag="li"
              :to="{ name: 'statistical.index' }"
            >
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Báo cáo
              </p>
            </router-link>
          </li>
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <router-link
              class="nav-link"
              tag="li"
              :to="{ name: 'compare.index' }"
            >
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Biểu đồ
              </p>
            </router-link>
          </li>
          <!--          TÍNH NĂNG IMPORT EXCEL MULTI -->
          <li
            v-if="setUserDetails.role === 'Administrator'"
            class="nav-item has-treeview menu-open"
          >
            <router-link :to="{ name: 'advanced.index' }" class="nav-link">
              <i class="nav-icon fab fa-buffer"></i>
              <p>
                Nhập cán bộ chuyển đến
              </p>
            </router-link>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>
<style scoped>
li.active {
  background-color: #a71d2a !important;
}
</style>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      role: localStorage.RoleUser,
      isActive: true
    };
  },
  mounted() {
    this.$store.dispatch("auth/me");
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  }
};
</script>
