<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Quá trình chuyển công tác</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'staff.index' }">
                    Cán bộ
                  </router-link>
                </li>
                <li class="breadcrumb-item active">Chuyển công tác</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <!--            <h3 class="card-title">Thông tin cơ bản</h3>-->

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div v-else class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="col">
                    <div class="form-group">
                      <label>Đơn vị trên cơ sở hiện tại</label>
                      <input
                        readonly
                        type="text"
                        v-model="form.schools.name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Đơn vị hiện tại</label>
                      <input
                        readonly
                        type="text"
                        v-model="form.units.name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Tổ/đội/đồn hiện tại</label>
                      <input
                        v-if="form.team_id"
                        readonly
                        type="text"
                        v-model="form.teams.name"
                        class="form-control"
                      />
                      <input
                        v-if="!form.team_id"
                        readonly
                        type="text"
                        value="Chưa vào đội"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <i class="fa-10x fas fa-angle-double-right text-info"></i>
                </div>
                <div class="col-md-5">
                  <div class="col">
                    <div class="form-group">
                      <label>Đơn vị trên cơ sở chuyển đến</label>
                      <select
                        v-model="form.school_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option
                          v-for="item in schoolOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Đơn vị cơ sở chuyển đến</label>
                      <select
                        v-model="form.unit_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option
                          v-for="item in unitOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Đội/Đồn/Tổ chuyển đến</label>
                      <select
                        v-model="form.team_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option
                          v-for="item in teamOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="float: right">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import ChangeStaffService from "../../services/change_staff";
import Error403 from "../error/index403";

export default {
  components: {
    Error403
  },
  data() {
    return {
      isLoading: false,
      isSubmitting: false,
      form: {
        school_id: 0,
        unit_id: 0,
        team_id: null
      }
    };
  },
  mounted() {
    this.loadSchoolData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapState("staff_ad_ac", {
      schoolOptions: state => state.schoolOptions,
      unitOptions: state => state.unitOptions,
      teamOptions: state => state.teamOptions
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("staff_ad_ac", {
      changeSchool: "changeSchool",
      changeUnit: "changeUnit",
      changeTeam: "changeTeam"
    }),
    ...mapActions("staff_ad_ac", {
      loadSchoolData: "loadSchoolData"
    }),
    getShow() {
      this.isLoading = true;
      ChangeStaffService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      ChangeStaffService.update(this.$route.params.id, this.form)
        .then(() => {
          this.isSubmitting = false;
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã chuyển công tác thành công"
          });
          this.$emit("ok");
          this.$router.push("/staff");
        })
        .catch(err => {
          this.isSubmitting = false;
          this.$swal(
            "Quá trình chuyển công tác không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  },
  watch: {
    "form.school_id": function(newVal) {
      this.form.unit_id = 0;
      this.changeSchool(newVal);
    },
    "form.unit_id": function(newVal) {
      this.form.team_id = null;
      this.changeUnit(newVal);
    }
  }
};
</script>
