<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Đơn vị cơ sở</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn vị cơ sở</li>
                <li class="breadcrumb-item active">Chỉnh sửa</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div v-else class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Mã đơn vị trên cơ sở<span class="text-danger"
                        >(*)</span
                      ></label
                    >
                    <input
                      readonly
                      type="text"
                      v-model="form.school_id"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Mã đơn vị trên cơ sở
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.unit_id.$dirty">
                        <span class="error" v-if="!$v.form.unit_id.required"
                          >Mã đơn vị cơ sở không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.unit_id.minLength"
                          >Mã đơn vị cơ sở ít nhất
                          {{ $v.form.unit_id.$params.minLength.min }} kí
                          tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.unit_id.$model"
                      :class="{
                        'is-invalid': $v.form.unit_id.$error,
                        'is-valid': !$v.form.unit_id.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Tên đơn vị trên cơ sở
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.name.$dirty">
                        <span class="error" v-if="!$v.form.name.required"
                          >Tên đơn vị cơ sở không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.name.minLength"
                          >Tên đơn vị cơ sở ít nhất
                          {{ $v.form.name.$params.minLength.min }} kí tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.name.$model"
                      :class="{
                        'is-invalid': $v.form.name.$error,
                        'is-valid': !$v.form.name.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Ngày thành lập<span class="text-danger">(*)</span></label
                    >
                    <div style="float: right">
                      <div v-if="$v.form.build_date.$dirty">
                        <span class="error" v-if="!$v.form.build_date.required"
                          >Ngày thành lập không được bỏ trống!</span
                        >
                        <br />
                        <span class="error" v-if="!$v.form.build_date.minDate"
                          >Ngày thành lập phải nhỏ hơn ngày hiện tại.</span
                        >
                      </div>
                    </div>
                    <input
                      type="date"
                      v-model="$v.form.build_date.$model"
                      :class="{
                        'is-invalid': $v.form.build_date.$error,
                        'is-valid': !$v.form.build_date.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import UnitService from "../../services/unit";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
const minDate = value => new Date(value).getTime() <= Date.now();

const selectVal = value => value != 1;

export default {
  props: ["unit"],
  name: "Edit",
  components: {
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      isLoading: false,
      isSubmitting: false,
      form: {
        school_id: "",
        unit_id: "",
        name: "",
        build_date: ""
      }
    };
  },
  validations: {
    form: {
      unit_id: {
        required,
        minLength: minLength(3)
      },
      name: {
        required,
        minLength: minLength(3)
      },
      build_date: {
        required,
        minDate
      },
      school_id: {
        required,
        selectVal
      }
    }
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getShow() {
      this.isLoading = true;
      UnitService.show(this.$route.params.id)
        .then(response => {
          this.isLoading = false;
          this.form = response.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    submit() {
      this.isSubmitting = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isSubmitting = false;
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        UnitService.update(this.$route.params.id, this.form)
          .then(() => {
            this.isSubmitting = false;
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã cập nhật thành công"
            });
            this.$emit("ok");
            this.$router.push("/unit");
          })
          .catch(err => {
            this.isSubmitting = false;
            let arr = [];
            let errors = err.response.data.errors;

            Object.keys(errors).forEach(function(key) {
              arr.push(errors[key]);
            });

            this.$swal({
              icon: "error",
              showConfirmButton: false,
              title: "Đăng tin không thành công",
              html: JSON.stringify(arr)
            });
          });
      }
    },
    reset() {
      this.getShow();
    }
  }
};
</script>
