<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Đơn vị cơ sở</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn vị cơ sở</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <button v-else class="btn btn-success" @click="createData">
                    Thêm mới
                  </button>
                  <export-excel
                    :data="list_units_export"
                    :fields="json_fields"
                    name="danh_sach_don_vi_co_so"
                    class="btn btn-dark"
                  >
                    Tải bản đầy đủ
                  </export-excel>
                  <div class="card-tools">
                    <div
                      class="input-group input-group-sm"
                      style="width: 150px;"
                    >
                      <input
                        type="text"
                        v-model="searchAll"
                        @keyup="debounceSocket()"
                        class="form-control"
                        id="inputCity"
                        placeholder="Bạn cần tìm..."
                      />
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in list_units.data" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.unit_id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.build_date | moment("DD-MM-YYYY") }}</td>
                        <td v-if="item.pending_remove == null" class="text-success">Đang sử dụng</td>
                        <td v-if="item.pending_remove != null" class="text-danger">Khóa</td>
                        <!--                    <td>{{ item.schools.name }}</td>-->
                        <td>
                          <router-link
                            :to="{ name: 'unit.edit', params: { id: item.id } }"
                            class="btn btn-dark btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item)"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_units.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="getList">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                    </select>
                  </span>
                  <span>/ {{ list_units.total }} đơn vị cơ sở</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_units.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>
<script>
import UnitService from "../../services/unit";
import Paginate from "vuejs-paginate";
import * as _ from "lodash";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      list_units: [],
      list_units_export: [],
      isLoading: false,
      searchAll: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Mã đơn vị cơ sở", key: "unit_id", sort: true },
        { title: "Tên đơn vị cơ sở", key: "name", sort: true },
        { title: "Ngày thành lập", key: "build_date", sort: true },
        { title: "Trạng thái", key: "pending_remove", sort: true }
        // {title: 'Thuộc đơn vị trên cơ sở', key: 'schools.name', sort: true}
      ],
      json_fields: {
        TT: "null",
        "Tên đơn vị": "name",
        "Ghi chú": "null"
      }
    };
  },
  created() {
    this.getList();
  },
  computed: {
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    createData() {
      this.$router.push("/unit/add");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      UnitService.getPaginate(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          // p.page = 1
          this.list_units = response.data.data;
          this.list_units_export = response.data.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(item) {
      this.$swal({
        title: "Xác nhận xóa",
        text: item.name,
        footer:
          '<p class="text-danger">' +
          "<br>" +
          "<ul>" +
          "<li>'Khi xóa các thông tin liên quan đều sẽ biến mất!'</li>" +
          "<li>'Hệ thống chưa cập nhật tính năng khôi phục lại hiện trạng nếu dữ liệu chưa được backup!'</li>" +
          "</ul>",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return UnitService.remove(item.unit_id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      })
        .then(result => {
          if (result.value) {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Yêu cầu đã xóa thành công"
            });
            this.$emit("ok");
          }
        })
        .catch(err => {
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      UnitService.getSearch(p.page, p.per_page, p.sort_column, p.direction, {
        keyText: this.searchAll
      }).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.list_units = response.data.data;
          this.list_units_export = response.data.data.data;
        } else {
          this.getList();
        }
      });
    }
  }
};
</script>
