<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Rủi ro cá nhân</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Rủi ro cá nhân</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Sử dụng form</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label>Cán bộ<span class="text-danger">(*)</span></label>
                      <span style="float: right"
                        >Đã chọn : {{ form.code_number.length }}</span
                      >
                      <multiselect
                        v-model="form.code_number"
                        :options="staffOptions"
                        :multiple="true"
                        :close-on-select="false"
                        :preselect-first="true"
                        placeholder="Bạn cần tìm..."
                        :custom-label="multiSelectOptions"
                        track-by="text"
                      >
                      </multiselect>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Hình thức<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.forms_risk_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1">-- chọn hình thức --</option>
                        <option
                          v-for="item in formsRiskOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Quyết định<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.decision_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn quyết định --</option
                        >
                        <option
                          v-for="item in decisionOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Cơ quan quyết định<span class="text-danger"
                          >(*)</span
                        ></label
                      >
                      <select
                        v-model="form.decision_agency_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn cơ quan quyết định --</option
                        >
                        <option
                          v-for="item in decisionAgencyOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Thời gian<span class="text-danger">(*)</span></label
                      >
                      <input
                        type="date"
                        v-model="form.risk_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                  <!--                  <button-->
                  <!--                    v-if="!isSubmitting"-->
                  <!--                    class="btn btn-success"-->
                  <!--                    @click="testbtn"-->
                  <!--                  >-->
                  <!--                    <i class="far fa-save"></i>-->
                  <!--                    Check loading-->
                  <!--                  </button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Multiselect from "vue-multiselect";
import Error403 from "../error/index403";

export default {
  name: "Add",
  components: {
    Multiselect,
    Error403
  },
  data() {
    return {
      // check
      timerInterval: "", // TEST
      exnumber: 0, // TEST 2
      //END check
      role: localStorage.RoleUser,
      form: {
        code_number: [],
        forms_risk_id: 1,
        decision_agency_id: 1,
        decision_id: 1,
        risk_date: 1
      }
    };
  },
  mounted() {
    this.loadStaffData();
    this.loadFormsRiskData();
    this.loadDecisionData();
    this.loadDecisionAgencyData();
  },
  computed: {
    ...mapState("risk_duty_add", {
      basicInfo: "basicInfo"
    }),
    ...mapState("staffs_ac", {
      staffOptions: state => state.staffOptions
    }),
    ...mapState("forms_risk_ac", {
      formsRiskOptions: state => state.formsRiskOptions
    }),
    ...mapState("decision_agency_ac", {
      decisionAgencyOptions: state => state.decisionAgencyOptions
    }),
    ...mapState("decision_ac", {
      decisionOptions: state => state.decisionOptions
    }),
    ...mapGetters("risk_duty_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("staffs_ac", {
      loadStaffData: "loadStaffData"
    }),
    ...mapActions("forms_risk_ac", {
      loadFormsRiskData: "loadFormsRiskData"
    }),
    ...mapActions("decision_agency_ac", {
      loadDecisionAgencyData: "loadDecisionAgencyData"
    }),
    ...mapActions("decision_ac", {
      loadDecisionData: "loadDecisionData"
    }),
    ...mapActions("risk_duty_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    // Show select with name and unit
    multiSelectOptions({ text, txtUnit }) {
      return `${text} — [${txtUnit}]`;
    },
    submit() {
      this.doSubmit()
        .then(() => {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã thêm thành công"
          });
          this.$emit("ok");
          this.$router.push("/riskDuty");
        })
        .catch(err => {
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
    // TEST
    // testbtn() {
    //   this.exnumber = 1000;
    //   this.$swal
    //     .fire({
    //       title: "<p style='color: red'>Vui lòng chờ!<p>",
    //       html: "Đang xử lý <b></b> mục.",
    //       timer: this.exnumber,
    //       allowOutsideClick: false, // Block click
    //       onBeforeOpen: () => {
    //         this.$swal.showLoading();
    //         this.timerInterval = setInterval(() => {
    //           const content = this.$swal.getContent();
    //           if (content) {
    //             const b = content.querySelector("b");
    //             if (b) {
    //               b.textContent = this.$swal.getTimerLeft();
    //             }
    //           }
    //         }, 100);
    //       },
    //       onClose: () => {
    //         clearInterval(this.timerInterval);
    //       }
    //     })
    //     .then(result => {
    //       /* Read more about handling dismissals below */
    //       if (result.dismiss === this.$swal.DismissReason.timer) {
    //         console.log("I was closed by the timer");
    //       }
    //     });
    // }
    // TEST 2 =================================================
    // testbtn() {
    //   this.exnumber = 1000;
    //   this.$swal
    //     .fire({
    //       title: "<p style='color: red'>Vui lòng chờ!<p>",
    //       html: "Đang xử lý ...",
    //       timer: this.exnumber,
    //       allowOutsideClick: false, // Block click
    //       onBeforeOpen: () => {
    //         this.$swal.showLoading();
    //         this.doSubmit()
    //           .then(() => {
    //             this.$swal({
    //               showConfirmButton: false,
    //               timer: 10000,
    //               icon: "success",
    //               title: "Thông báo",
    //               text: "Đã thêm thành công"
    //             });
    //             this.$emit("ok");
    //             this.$router.push("/riskDuty");
    //           })
    //           .catch(err => {
    //             this.$swal(
    //               "Đăng tin không thành công",
    //               JSON.stringify(err.response.data)
    //             );
    //           });
    //       },
    //       onClose: () => {
    //         clearInterval(this.timerInterval);
    //       }
    //     })
    //     .then(result => {
    //       /* Read more about handling dismissals below */
    //       if (result.dismiss === this.$swal.DismissReason.timer) {
    //         console.log("I was closed by the timer");
    //       }
    //     });
    // }
    //END TEST
  },
  watch: {
    "form.code_number": function() {
      this.setBasicInfo(this.form);
    },
    "form.forms_risk_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.decision_agency_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.decision_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.risk_date": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
