<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Rủi ro cá nhân</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Rủi ro cá nhân</li>
                <li class="breadcrumb-item active">Chỉnh sửa</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Mã cán bộ<span class="text-danger">(*)</span></label>
                    <input
                      readonly
                      type="text"
                      v-model="form.code_number"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Hình thức<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.forms_risk_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1">-- chọn hình thức --</option>
                        <option
                          v-for="item in formsRiskOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Quyết định<span class="text-danger">(*)</span></label
                      >
                      <select
                        v-model="form.decision_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn quyết định --</option
                        >
                        <option
                          v-for="item in decisionOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Cơ quan quyết định<span class="text-danger"
                          >(*)</span
                        ></label
                      >
                      <select
                        v-model="form.decision_agency_id"
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected value="1"
                          >-- chọn cơ quan quyết định --</option
                        >
                        <option
                          v-for="item in decisionAgencyOptions"
                          :key="item.value"
                          :value="item.value"
                        >
                          {{ item.text }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label
                        >Thời gian<span class="text-danger">(*)</span></label
                      >
                      <input
                        type="date"
                        v-model="form.risk_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import RiskDutyService from "../../services/risk_duty";
import { mapGetters, mapActions, mapState } from "vuex";
import Error403 from "../error/index403";

export default {
  name: "Edit",
  components: {
    Error403
  },
  data() {
    return {
      role: localStorage.RoleUser,
      isLoading: false,
      isSubmitting: false,
      form: {
        code_number: "",
        forms_risk_id: "",
        decision_agency_id: "",
        decision_id: "",
        risk_date: ""
      }
    };
  },
  mounted() {
    this.loadFormsRiskData();
    this.loadDecisionData();
    this.loadDecisionAgencyData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapState("forms_risk_ac", {
      formsRiskOptions: state => state.formsRiskOptions
    }),
    ...mapState("decision_agency_ac", {
      decisionAgencyOptions: state => state.decisionAgencyOptions
    }),
    ...mapState("decision_ac", {
      decisionOptions: state => state.decisionOptions
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("forms_risk_ac", {
      loadFormsRiskData: "loadFormsRiskData"
    }),
    ...mapActions("decision_agency_ac", {
      loadDecisionAgencyData: "loadDecisionAgencyData"
    }),
    ...mapActions("decision_ac", {
      loadDecisionData: "loadDecisionData"
    }),
    getShow() {
      this.isLoading = true;
      RiskDutyService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      RiskDutyService.update(this.$route.params.id, this.form)
        .then(() => {
          this.isSubmitting = false;
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã cập nhật thành công"
          });
          this.$emit("ok");
          this.$router.push("/riskDuty");
        })
        .catch(err => {
          this.isSubmitting = false;
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  }
};
</script>
