<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Rủi ro cá nhân</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Rủi ro cá nhân</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <button
                v-if="isLoading"
                class="btn btn-labeled btn-success mr-1 mb-1"
                disabled
              >
                <span class="btn-label"
                  ><i class="fas fa-cog fa-spin"></i
                ></span>
                Đang tải...
              </button>
              <button v-else class="btn btn-success" @click="createData">
                Thêm mới
              </button>
              <export-excel
                :data="list_risk_duties_export"
                :fields="json_fields"
                name="rui_ro_ca_nhan"
                class="btn btn-outline-info"
              >
                Tải bản đầy đủ
              </export-excel>
              <vue-excel-xlsx
                class="btn btn-outline-dark"
                :data="list_risk_duties_export"
                :columns="columns"
                :filename="'rui_ro_ca_nhan'"
                :sheetname="'Rủi ro cá nhân'"
              >
                Tải bản mã
              </vue-excel-xlsx>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 200px;">
                  <input
                    type="text"
                    v-model="searchAll"
                    @keyup="debounceSocket()"
                    class="form-control"
                    id="inputCity"
                    placeholder="Bạn cần tìm..."
                  />
                </div>
              </div>
              <!--                <search></search>-->
              <div class="form-row mt-3">
                <div class="form-group col-md-7">
                  <label for="inputState2">Hình thức</label>
                  <select
                    id="inputState2"
                    v-model="searchFormsRisk"
                    class="form-control"
                  >
                    <option value="0" selected>Chọn hình thức...</option>
                    <option
                      v-for="item in formsRiskOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label>Bắt đầu</label>
                  <input type="date" class="form-control" v-model="sign_date" />
                </div>
                <div class="form-group col-md-2">
                  <label>Kết thúc</label>
                  <input
                    type="date"
                    class="form-control"
                    v-model="received_date"
                  />
                </div>
                <div class="col-md-1">
                  <label class="mt-5"></label>
                  <button
                    class="btn btn-primary"
                    @click="getFilter"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Lọc"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in list_risk_duties.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.staffs.full_name }}</td>
                        <td>{{ item.units.name }}</td>
                        <td>{{ item.forms_risks.name }}</td>
                        <td>{{ item.decision_id }}</td>
                        <td>{{ item.decision_agencies.name }}</td>
                        <td>{{ new Date(item.risk_date).getFullYear() }}</td>
                        <td>
                          <router-link
                            :to="{
                              name: 'riskDuty.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-dark btn-sm mr-1"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_risk_duties.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="search">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100000">Toàn bộ</option>
                    </select>
                  </span>
                  <span>/ {{ list_risk_duties.total }} cán bộ</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_risk_duties.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
        <LineChart />
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import RiskDutyService from "../../services/risk_duty";
import axios from "../../axios";
import { mapGetters, mapActions, mapState } from "vuex";
import * as _ from "lodash";
import Paginate from "vuejs-paginate";
import Error403 from "../error/index403";
import LineChart from "./common/LineChart.vue";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403,
    LineChart
  },
  data() {
    return {
      list_risk_duties: [],
      list_risk_duties_export: [],
      isLoading: false,
      searchAll: "",
      searchFormsRisk: 0,
      sign_date: "",
      received_date: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        // {title: 'Cấp bậc', sort: false},
        { title: "Cán bộ", key: "code_number", sort: true },
        { title: "Đơn vị", key: "unit_id", sort: false },
        { title: "Hình thức", key: "forms_risk_id", sort: true },
        { title: "Quyết định", key: "decision_id", sort: true },
        { title: "Cơ quan", key: "decision_agency_id", sort: true },
        { title: "Năm", key: "risk_date", sort: true }
      ],
      json_fields: {
        "Số hiệu cán bộ": "code_number",
        "Họ tên cán bộ": "staffs.full_name",
        "Đơn vị trên cơ sở": "schools.name",
        "Đơn vị cơ sở": "units.name",
        "Hình thức rủi ro": "forms_risks.name",
        "Quyết định": "decision_id",
        "Cơ quan quyết định": "decision_agencies.name",
        Năm: "risk_date"
      },
      columns: [
        {
          label: "code_number",
          field: "code_number"
        },
        {
          label: "forms_risk_id",
          field: "forms_risk_id"
        },
        {
          label: "decision_agency_id",
          field: "decision_agency_id"
        },
        {
          label: "decision_id",
          field: "decision_id"
        },
        {
          label: "pending_remove",
          field: "pending_remove"
        }
      ]
    };
  },
  created() {
    this.getList();
  },
  mounted() {
    this.loadFormsRiskData();
  },
  computed: {
    ...mapState("forms_risk_ac", {
      formsRiskOptions: state => state.formsRiskOptions
    }),
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("forms_risk_ac", {
      loadFormsRiskData: "loadFormsRiskData"
    }),
    createData() {
      this.$router.push("/riskDuty/add");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      RiskDutyService.getAll(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          this.list_risk_duties = response.data.data;
          this.list_risk_duties_export = response.data.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return RiskDutyService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      RiskDutyService.getSearch(
        p.page,
        p.per_page,
        p.sort_column,
        p.direction,
        {
          keyText: this.searchAll
        }
      ).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.searchFormsRisk = 0;
          this.sign_date = "";
          this.received_date = "";
          this.list_risk_duties = response.data.data;
          this.list_risk_duties_export = response.data.data.data;
        } else {
          this.getFilter();
        }
      });
    },
    getFilter() {
      let p = this.params;
      axios
        .post(
          "riskDuty/searchOptions?page=" +
            p.page +
            "&per_page=" +
            p.per_page +
            "&sort_column=" +
            p.sort_column +
            "&direction=" +
            p.direction,
          {
            keyOptionFormsRisk: this.searchFormsRisk,
            sign_date: this.sign_date,
            received_date: this.received_date
          }
        )
        .then(response => {
          this.params.page = 1;
          this.searchAll = "";
          this.list_risk_duties = response.data.data;
          this.list_risk_duties_export = response.data.data.data;
        });
    }
  }
};
</script>
