<template>
  <div class="card card-default">
    <div class="card-header">
      <b class="text-success">Quá trình thành tích</b>
      <span style="float:right"
        >Tổng thành tích:
        <b class="text-info">{{ list_personal_achievements.total }}</b></span
      >
    </div>
    <!-- /.card-header -->
    <div
      v-if="isLoading"
      disabled
      class="card-body table-responsive p-0 text-center text-danger"
    >
      <i class="fas fa-spinner fa-pulse"></i>
      <strong>Đang tải chờ tí...</strong>
    </div>
    <div v-else class="card-body table-responsive p-0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th v-for="thead in theads" :key="thead.key">
              <div v-if="thead.sort" @click="getSort(thead.key)">
                <span>{{ thead.title }}</span>
                <template v-if="params.sort_column === thead.key">
                  <span v-if="params.direction === 'asc'">&#x25B2;</span>
                  <span v-else>&#x25BC;</span>
                </template>
              </div>
              <div v-else>
                <span>{{ thead.title }}</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in list_personal_achievements.data"
            :key="index"
          >
            <td>{{ index + 1 }}</td>
            <!--          <td v-if="!item.personal_title_id" class="text-danger">Hiện chưa có}</td>-->
            <!--          <td v-if="item.personal_title_id">{{ item.personal_titles.name }}</td>-->
            <td v-if="!item.forms_of_reward_id" class="text-danger">
              Hiện chưa có
            </td>
            <td v-if="item.forms_of_reward_id">
              {{ item.forms_of_rewards.name }}
            </td>
            <td>{{ item.decision_id }}</td>
            <td>{{ item.decision_agencies.name }}</td>
            <td>{{ item.decisions.received_date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="text-center text-red"
      v-if="list_personal_achievements.length === 0"
    >
      <h3>Hiện không có kết quả bạn cần tìm!</h3>
      <p>Vui lòng thử lại...</p>
    </div>
    <div class="card-footer">
      <span>Hiển thị</span>
      <span>
        <select v-model="params.per_page" @change="getList">
          <option value="10">10</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100000">Toàn bộ</option>
        </select>
      </span>
      <span>/ {{ list_personal_achievements.total }} thành tích</span>

      <div style="float: right">
        <paginate
          :page-count="parseInt(list_personal_achievements.last_page)"
          :page-range="3"
          :margin-pages="2"
          :click-handler="clickCallback"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :container-class="'pagination'"
          :page-class="'page-item'"
        >
        </paginate>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</template>

<script>
import PersonalAchievementsService from "../../../services/personal_achievements";
import Paginate from "vuejs-paginate";

export default {
  name: "Index",
  components: {
    Paginate
  },
  data() {
    return {
      role: localStorage.RoleUser,
      id: this.$route.params.id,
      list_personal_achievements: [],
      isLoading: false,
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        // {title: 'Danh hiệu', key: 'personal_title_id', sort: true},
        {
          title: "Hình thức khen thưởng",
          key: "forms_of_reward_id",
          sort: true
        },
        { title: "Quyết định", key: "decision_id", sort: true },
        { title: "Cơ quan quyết định", key: "decision_agency_id", sort: true },
        { title: "Thời gian", sort: true }
      ]
    };
  },
  created() {
    this.getList();
  },
  computed: {},
  methods: {
    getList() {
      let p = this.params;
      this.isLoading = true;
      PersonalAchievementsService.getAll(
        this.id,
        p.page,
        p.per_page,
        p.sort_column,
        p.direction
      )
        .then(response => {
          this.isLoading = false;
          this.list_personal_achievements = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      PersonalAchievementsService.getSearch(
        p.page,
        p.per_page,
        p.sort_column,
        p.direction,
        {
          keyText: this.searchAll
        }
      ).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.list_personal_achievements = response.data.data;
        } else {
          this.getList();
        }
      });
    }
  }
};
</script>
