<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thêm mới</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Tài khoản</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Đơn vị<span class="text-danger">(*)</span></label>
                    <div style="float: right">
                      <div v-if="$v.form.unit_id.$dirty">
                        <span class="error" v-if="!$v.form.unit_id.required"
                          >Đơn vị không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.unit_id.select0"
                          >Đơn vị không hợp lệ!</span
                        >
                      </div>
                    </div>
                    <select
                      v-model="$v.form.unit_id.$model"
                      class="form-control select2"
                      :class="{
                        'is-invalid': $v.form.unit_id.$error,
                        'is-valid': !$v.form.unit_id.$invalid
                      }"
                      style="width: 100%;"
                    >
                      <option
                        v-for="item in unitOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Cán bộ<span class="text-danger">(*)</span></label>
                    <div style="float: right">
                      <div v-if="$v.form.code_number.$dirty">
                        <span class="error" v-if="!$v.form.code_number.required"
                          >Cán bộ không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.code_number.select0"
                          >Cán bộ không hợp lệ!</span
                        >
                      </div>
                    </div>
                    <select
                      v-model="$v.form.code_number.$model"
                      class="form-control select2"
                      :class="{
                        'is-invalid': $v.form.code_number.$error,
                        'is-valid': !$v.form.code_number.$invalid
                      }"
                      style="width: 100%;"
                    >
                      <option
                        v-for="item in staffOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Tài khoản
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.username.$dirty">
                        <span class="error" v-if="!$v.form.username.required"
                          >Tài khoản không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.username.minLength"
                          >Tài khoản ít nhất
                          {{ $v.form.username.$params.minLength.min }} kí
                          tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.username.$model"
                      :class="{
                        'is-invalid': $v.form.username.$error,
                        'is-valid': !$v.form.username.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label>Mật khẩu<span class="text-danger">(*)</span></label>
                    <div style="float: right">
                      <div v-if="$v.form.password.$dirty">
                        <span class="error" v-if="!$v.form.password.required"
                          >Mật khẩu không được bỏ trống!</span
                        >
                        <span class="error" v-if="!$v.form.password.minLength"
                          >Mật khẩu ít nhất
                          {{ $v.form.password.$params.minLength.min }} kí
                          tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.password.$model"
                      :class="{
                        'is-invalid': $v.form.password.$error,
                        'is-valid': !$v.form.password.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Quyền truy cập<span class="text-danger">(*)</span></label
                    >
                    <select
                      v-model="form.role"
                      class="form-control select2"
                      style="width: 100%;"
                    >
                      <option
                        v-for="item in roleOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import Error403 from "../error/index403";
import { required, minLength } from "vuelidate/lib/validators";
const select0 = value => value != 0;

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      form: {
        school_id: "DHCSND",
        unit_id: 0,
        code_number: 0,
        username: "",
        password: "",
        role: "author"
      },
      roleOptions: [
        { value: "Administrator", text: "Quản trị viên" },
        { value: "checker", text: "Kiểm duyệt viên" },
        { value: "author", text: "Người dùng" }
      ]
    };
  },
  validations: {
    form: {
      unit_id: {
        required,
        select0
      },
      code_number: {
        required,
        select0
      },
      username: {
        required,
        minLength: minLength(3)
      },
      password: {
        required,
        minLength: minLength(3)
      }
    }
  },
  mounted() {
    this.loadUnitData();
  },
  computed: {
    ...mapGetters("user_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapState("user_ad_ac", {
      schoolOptions: state => state.schoolOptions,
      unitOptions: state => state.unitOptions,
      staffOptions: state => state.staffOptions
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("user_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions("user_ad_ac", {
      changeSchool: "changeSchool",
      changeUnit: "changeUnit",
      changeStaff: "changeStaff",
      loadUnitData: "loadUnitData"
    }),
    loadAddress() {
      this.form.school_id = 0;
      this.form.unit_id = 0;
      this.form.staff_id = 0;

      this.changeSchool(this.form.school_id);
      this.changeUnit(this.form.unit_id);
      this.changeTeam(this.form.staff_id);

      this.setBasicInfo(this.form);
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        this.doSubmit()
          .then(() => {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã thêm thành công"
            });
            this.$emit("ok");
            this.$router.push("/user");
          })
          .catch(err => {
            this.$swal(
              "Đăng tin không thành công",
              JSON.stringify(err.response.data)
            );
          });
      }
    },
    reset() {
      this.form.unit_id = 0;
      this.form.code_number = 0;
      this.form.username = "";
      this.form.password = "";
      this.form.role = "author";
    }
  },
  watch: {
    "form.school_id": function(newVal) {
      this.form.unit_id = 0;

      this.changeSchool(newVal);
      this.setBasicInfo(this.form);
    },
    "form.unit_id": function(newVal) {
      this.form.staff_id = 0;

      this.changeUnit(newVal);
      this.setBasicInfo(this.form);
    },
    "form.code_number": function() {
      this.setBasicInfo(this.form);
    },
    "form.username": function() {
      this.setBasicInfo(this.form);
    },
    "form.password": function() {
      this.setBasicInfo(this.form);
    },
    "form.role": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
