<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Ý kiến - Phản hồi</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Ý kiến - Phản hồi</li>
                <li class="breadcrumb-item active">Phản hồi</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <!-- /.card-header -->
            <div
              v-if="isLoading"
              disabled
              class="card-body table-responsive p-0 text-center text-danger"
            >
              <i class="fas fa-spinner fa-pulse"></i>
              <strong>Đang tải chờ tí...</strong>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div id="overflowTest">
                    <!--          @foreach($list as $item)-->
                    <div class="media">
                      <div class="media-body ml-3">
                        <h5 class="media-heading">
                          Khoa CNTT
                          <small>{{ form.created_at }}</small>
                        </h5>
                        {{ form.content }}
                      </div>
                    </div>
                    <hr />
                    <!--          @endforeach-->
                  </div>
                  <hr />
                  <div class="form-group">
                    <form method="POST">
                      <div class="m-1">
                        <label for="comment"
                          ><strong>Viết ý kiến phải hồi...</strong></label
                        >
                        <i class="fas fa-pencil-alt"></i>
                        <label style="float:right">
                          <button
                            type="button"
                            class="btn btn-success"
                            @click="submit"
                          >
                            Gửi
                          </button>
                        </label>
                      </div>
                      <textarea
                        class="form-control"
                        rows="5"
                        v-model="form.content_new"
                        name="content_comment"
                        id="content_comment"
                      ></textarea>
                    </form>
                  </div>
                </div>
                <div class="col-md-4">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">
                        <b>Một số lưu ý khi phản hồi!</b>
                      </li>
                    </ol>
                  </nav>
                  <ol>
                    <li>Dùng từ ngữ văn minh, lịch sự.</li>
                    <li>Chú ý mục đích, nội dung của câu hỏi.</li>
                    <li>
                      Không được chèn hình. Xin để đường dẫn vào bên trong để
                      làm đường dẫn minh họa.
                    </li>
                    <li class="text-danger">
                      Sau khi đăng ý kiến phải hồi. Vui lòng chờ đợi để phía
                      quản trị tiếp nhận và giải quyết!
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import CommentService from "../../services/comment";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "FeedBack",
  components: {
    Error403
  },
  data() {
    return {
      isLoading: false,
      isSubmitting: false,
      form: {
        user_id: this.$route.params.id,
        content_new: "",
        feedback: "Author",
        status: true
      }
    };
  },
  mounted() {
    this.reset();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getShow() {
      this.isLoading = true;
      CommentService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    // submit () {
    //   this.isSubmitting = true
    //   CommentService.submit(this.form)
    //     .then(() => {
    //       this.isSubmitting = false
    //       this.$swal({
    //         showConfirmButton: false,
    //         timer: 10000,
    //         type: 'success',
    //         title: 'Thông báo',
    //         text: 'Đã phản hồi thành công'
    //       })
    //       this.$emit('ok')
    //       this.$router.push('/comment')
    //     })
    //     .catch(err => {
    //       this.isSubmitting = false
    //       this.$swal('Đăng tin không thành công', JSON.stringify(err.response.data))
    //     })
    // }
    submit() {
      this.isSubmitting = true;
      CommentService.submit(this.form)
        .then(() => {
          this.isSubmitting = false;
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã phản hồi thành công"
          });
          this.$emit("ok");
          this.$router.push("/comment");
        })
        .catch(err => {
          this.isSubmitting = false;
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
      CommentService.update(this.$route.params.id, this.form);
    }
  }
};
</script>
