<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Ý kiến phản hồi</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Ý kiến phản hồi</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <button
                v-if="isLoading"
                class="btn btn-labeled btn-success mr-1 mb-1"
                disabled
              >
                <span class="btn-label"
                  ><i class="fas fa-cog fa-spin"></i
                ></span>
                Đang tải...
              </button>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 200px;">
                  <input
                    type="text"
                    v-model="searchAll"
                    @keyup="debounceSocket()"
                    class="form-control"
                    id="inputCity"
                    placeholder="Bạn cần tìm..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in list_comments.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.user_id }}</td>
                        <td>{{ item.content }}</td>
                        <td>{{ new Date(item.created_at).getFullYear() }}</td>
                        <td>
                          <router-link
                            :to="{
                              name: 'comment.feedback',
                              params: { id: item.id }
                            }"
                            class="btn btn-warning btn-sm mr-1"
                            data-placement="right"
                            title="Phản hồi"
                          >
                            <i class="far fa-comments"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_comments.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="search">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100000">Toàn bộ</option>
                    </select>
                  </span>
                  <span>/ {{ list_comments.total }} ý kiến phản hồi</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_comments.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import CommentService from "../../services/comment";
import { mapGetters } from "vuex";
import * as _ from "lodash";
import Paginate from "vuejs-paginate";
import Error403 from "../error/index403";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403
  },
  data() {
    return {
      list_comments: [],
      isLoading: false,
      searchAll: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Số tài khoản", key: "user_id", sort: true },
        { title: "Nội dung", key: "content", sort: true },
        { title: "Thời gian", key: "created_at", sort: true }
      ]
    };
  },
  created() {
    this.getList();
  },
  computed: {
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getList() {
      let p = this.params;
      this.isLoading = true;
      CommentService.getAll(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          this.list_comments = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return CommentService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      CommentService.getSearch(p.page, p.per_page, p.sort_column, p.direction, {
        keyText: this.searchAll
      }).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.list_comments = response.data.data;
        } else {
          this.getList();
        }
      });
    }
  }
};
</script>
