<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div v-if="setUserDetails.role === 'Administrator'" class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Tổng quan</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Tổng quan</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-pink">
                <div class="inner">
                  <h3>{{ list_homes[0] }}</h3>

                  <p>Tải khoản</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'user.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ list_homes[1] }}</h3>

                  <p>Đơn vị</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <router-link
                  :to="{ name: 'unit.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-maroon">
                <div class="inner">
                  <h3>{{ list_homes[2] }}</h3>

                  <p>Cán bộ</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <router-link
                  :to="{ name: 'staff.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-purple">
                <div class="inner">
                  <h3>{{ list_homes[3] }}</h3>

                  <p>Ý kiến phản hồi</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'comment.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ list_homes[4] }}</h3>

                  <p>Khen thưởng cá nhân</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'personalReward.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-navy">
                <div class="inner">
                  <h3>{{ list_homes[5] }}</h3>

                  <p>Khen thưởng tập thể</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'collectiveReward.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ list_homes[6] }}</h3>

                  <p>Kỷ luật</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'discipline.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ list_homes[7] }}</h3>

                  <p>Thi đua cá nhân chờ duyệt</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'registerReward.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-primary">
                <div class="inner">
                  <h3>{{ list_homes[8] }}</h3>

                  <p>Thi đua tập thể chờ duyệt</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'registerCollectiveReward.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-teal">
                <div class="inner">
                  <h3>{{ list_homes[9] }}</h3>
                  <p>Quyết định</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <router-link
                  :to="{ name: 'decision.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-purple">
                <div class="inner">
                  <h3>{{ list_homes[10] }}</h3>

                  <p>Cơ quan quyết định</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'decisionAgency.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-teal">
                <div class="inner">
                  <h3>{{ list_homes[11] }}</h3>

                  <p>Cơ quan quyết định</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <router-link
                  :to="{ name: 'document.index' }"
                  class="small-box-footer"
                >
                  Chi tiết
                  <i class="fas fa-arrow-circle-right"></i>
                </router-link>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <!-- Main row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import HomeService from "../../services/home";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    Error403
  },
  data() {
    return {
      list_homes: [],
      isLoading: false
    };
  },
  created() {
    this.getList();
  },
  computed: {
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    getList() {
      this.isLoading = true;
      HomeService.getAll()
        .then(response => {
          this.isLoading = false;
          this.list_homes = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    }
  }
};
</script>
