<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thay đổi đơn vị</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thay đổi đơn vị</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="col">
                    <label>Đơn vị cũ<span class="text-danger">(*)</span></label>
                    <select
                      v-model="form.unit_id"
                      class="form-control select2"
                      style="width: 100%;"
                    >
                      <option selected value="0">-- chọn đơn vị cũ --</option>
                      <option
                        v-for="item in unitOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <i class="fa-7x fas fa-angle-double-right text-info"></i>
                </div>
                <div class="col-md-5">
                  <div class="col">
                    <label
                      >Đơn vị mới<span class="text-danger">(*)</span></label
                    >
                    <select
                      v-model="form.unit_id_changed"
                      class="form-control select2"
                      style="width: 100%;"
                    >
                      <option selected value="0">-- chọn Đơn vị mới --</option>
                      <option
                        v-for="item in unitOptions"
                        :key="item.value"
                        :value="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset()">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Error403 from "../error/index403";

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      file: "",
      form: {
        school_id: "DHCSND",
        unit_id: 0,
        unit_id_changed: 0
      }
    };
  },
  mounted() {
    this.loadUnitData();
  },
  computed: {
    ...mapState("change_collective_add", {
      basicInfo: "basicInfo"
    }),
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions
    }),
    ...mapGetters("change_collective_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData"
    }),
    ...mapActions("change_collective_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    submit() {
      this.doSubmit()
        .then(() => {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Đã thêm thành công"
          });
          this.$emit("ok");
          this.$router.push("/changeCollective");
        })
        .catch(err => {
          this.$swal(
            "Đăng tin không thành công",
            JSON.stringify(err.response.data)
          );
        });
    }
  },
  watch: {
    "form.school_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.unit_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.unit_id_changed": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
