<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thêm mới</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Quyết định</li>
                <li class="breadcrumb-item active">Thêm mới</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="form-group">
                    <label
                      >Quyết định
                      <span class="text-danger">(*)</span>
                    </label>
                    <div style="float: right">
                      <div v-if="$v.form.decision_id.$dirty">
                        <span class="error" v-if="!$v.form.decision_id.required"
                          >Quyết định không được bỏ trống!</span
                        >
                        <span
                          class="error"
                          v-if="!$v.form.decision_id.minLength"
                          >Quyết định ít nhất
                          {{ $v.form.decision_id.$params.minLength.min }} kí
                          tự.</span
                        >
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="$v.form.decision_id.$model"
                      :class="{
                        'is-invalid': $v.form.decision_id.$error,
                        'is-valid': !$v.form.decision_id.$invalid
                      }"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <label>Tệp đính kèm</label>
                  <div style="float: right">
                    <div v-if="$v.image.$dirty">
                      <span class="error" v-if="!$v.image.required"
                        >Tệp đính kèm không được bỏ trống!</span
                      >
                    </div>
                  </div>
                  <div class="form-row col-md-12">
                    <div class="form-group col-md-3">
                      <input
                        type="file"
                        @change="listOnImageChange"
                        accept="application/pdf"
                        class="btn btn-warning btn-sm"
                      />
                    </div>
                    <div class="form-group col-md-7">
                      <input
                        readonly
                        type="text"
                        v-model="$v.image.$model"
                        :class="{
                          'is-invalid': $v.image.$error,
                          'is-valid': !$v.image.$invalid
                        }"
                        class="form-control"
                        placeholder="Đường dẫn tệp pdf của bạn..."
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <button class="btn btn-info" @click="submitForm">
                        <i class="fas fa-check-circle"></i> Lấy đường dẫn
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Ngày ký
                        <span class="text-danger">(*)</span>
                      </label>
                      <div style="float: right">
                        <div v-if="$v.form.sign_date.$dirty">
                          <span class="error" v-if="!$v.form.sign_date.required"
                            >Ngày ký không được bỏ trống!</span
                          >
                        </div>
                      </div>
                      <input
                        type="date"
                        v-model="$v.form.sign_date.$model"
                        :class="{
                          'is-invalid': $v.form.sign_date.$error,
                          'is-valid': !$v.form.sign_date.$invalid
                        }"
                        class="form-control"
                      />
                    </div>
                    <div class="col">
                      <label
                        >Ngày nhận
                        <span class="text-danger">(*)</span>
                      </label>
                      <div style="float: right">
                        <div v-if="$v.form.received_date.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.received_date.required"
                            >Ngày nhận không được bỏ trống!</span
                          >
                        </div>
                      </div>
                      <input
                        type="date"
                        v-model="$v.form.received_date.$model"
                        :class="{
                          'is-invalid': $v.form.received_date.$error,
                          'is-valid': !$v.form.received_date.$invalid
                        }"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <label
                        >Trích yếu nội dung<span class="text-danger"
                          >(*)</span
                        ></label
                      >
                      <div style="float: right">
                        <div v-if="$v.form.description.$dirty">
                          <span
                            class="error"
                            v-if="!$v.form.description.required"
                            >Trích yếu nội dung không được bỏ trống!</span
                          >
                          <span
                            class="error"
                            v-if="!$v.form.description.minLength"
                            >Trích yếu nội dung ít nhất
                            {{ $v.form.description.$params.minLength.min }} kí
                            tự.</span
                          >
                        </div>
                      </div>
                      <textarea
                        rows="5"
                        id="comment"
                        v-model="$v.form.description.$model"
                        :class="{
                          'is-invalid': $v.form.description.$error,
                          'is-valid': !$v.form.description.$invalid
                        }"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <section class="content">
        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-remove"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="mr-2">
                  <button class="btn btn-danger" @click="reset">
                    <i class="fas fa-broom"></i>
                    Nhập lại
                  </button>
                </div>
                <div>
                  <button
                    v-if="!isSubmitting"
                    class="btn btn-success"
                    @click="submit"
                  >
                    <i class="far fa-save"></i>
                    Lưu
                  </button>
                  <button
                    v-else
                    class="btn btn-success"
                    @click="submit"
                    disabled
                  >
                    <i class="fas fa-cog fa-spin"></i>
                    Đang lưu ...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import DecisionService from "../../services/decision";
import Error403 from "../error/index403";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "Add",
  components: {
    Error403
  },
  data() {
    return {
      image: "",
      form: {
        decision_id: "",
        decision_file: "",
        sign_date: "",
        received_date: "",
        description: ""
      }
    };
  },
  validations: {
    image: {
      required
    },
    form: {
      decision_id: {
        required,
        minLength: minLength(3)
      },
      decision_file: {
        required
      },
      sign_date: {
        required
      },
      received_date: {
        required
      },
      description: {
        required,
        minLength: minLength(3)
      }
    }
  },
  mounted() {
    this.reset();
  },
  computed: {
    ...mapGetters("decision_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions("decision_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    listOnImageChange(e) {
      console.log(e.target.files[0]);
      this.image = e.target.files[0];
    },
    submitForm(e) {
      e.preventDefault();
      var currentDateWithFormat = new Date()
        .toJSON()
        .slice(0, 10)
        .replace(/-/g, "-");
      console.log(currentDateWithFormat + "-" + this.image.name);
      let theImage = this.image.name;
      console.log(theImage);
      this.form.decision_file = currentDateWithFormat + "-" + theImage;
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      DecisionService.upload(formData, config)
        .then(function(res) {
          console.log(res.data.success);
        })
        .catch(function() {
          console.log("thất bại");
        });
      this.image =
        "http://127.0.0.1:8000/file/decision/" +
        currentDateWithFormat +
        "-" +
        theImage;
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$swal({
          icon: "error",
          showConfirmButton: false,
          title: "Đăng tin không thành công",
          html: "Vui lòng kiểm tra lại điều kiện phù hợp!"
        });
      } else {
        this.doSubmit()
          .then(() => {
            this.$swal({
              showConfirmButton: false,
              timer: 10000,
              icon: "success",
              title: "Thông báo",
              text: "Đã thêm thành công"
            });
            this.$emit("ok");
            this.$router.push("/decision");
          })
          .catch(err => {
            this.$swal(
              "Đăng tin không thành công",
              JSON.stringify(err.response.data)
            );
          });
      }
    },
    reset() {
      this.image = "";
      this.form.decision_id = "";
      this.form.decision_file = "";
      this.form.sign_date = "";
      this.form.received_date = "";
      this.form.description = "";
    }
  },
  watch: {
    "form.decision_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.decision_file": function() {
      this.setBasicInfo(this.form);
    },
    "form.sign_date": function() {
      this.setBasicInfo(this.form);
    },
    "form.received_date": function() {
      this.setBasicInfo(this.form);
    },
    "form.description": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
