<template>
  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="content-wrapper" v-if="setUserDetails.role === 'Administrator'">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Quyết định</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active">Quyết định</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-success mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fas fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <button v-else class="btn btn-success" @click="createData">
                    Thêm mới
                  </button>
                  <div class="card-tools">
                    <div
                      class="input-group input-group-sm"
                      style="width: 200px;"
                    >
                      <input
                        type="text"
                        v-model="searchAll"
                        @keyup="debounceSocket()"
                        class="form-control"
                        id="inputCity"
                        placeholder="Bạn cần tìm..."
                      />
                    </div>
                  </div>
                  <div class="form-row mt-3">
                    <div class="form-group col-md-5">
                      <label>Bắt đầu (Ngày nhận)</label>
                      <input
                        type="date"
                        class="form-control"
                        v-model="sign_date"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label>Kết thúc (Ngày nhận)</label>
                      <input
                        type="date"
                        class="form-control"
                        v-model="received_date"
                      />
                    </div>
                    <div class="col-md-1">
                      <label class="mt-5"></label>
                      <button
                        class="btn btn-primary"
                        @click="getFilter"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Lọc"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div
                  v-if="isLoading"
                  disabled
                  class="card-body table-responsive p-0 text-center text-danger"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                  <strong>Đang tải chờ tí...</strong>
                </div>
                <div v-else class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in list_decisions.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.decision_id }}</td>
                        <td width="150">{{ item.sign_date }}</td>
                        <td width="150">{{ item.received_date }}</td>
                        <td width="300px">{{ item.description }}</td>
                        <td
                          class="text-danger"
                          v-if="item.decision_file === ''"
                        >
                          Chưa cập nhật
                        </td>
                        <td v-if="item.decision_file !== ''">
                          <a
                            target="_blank"
                            :href="
                              'http://127.0.0.1:8000/file/decision/' +
                                item.decision_file
                            "
                          >
                            {{ item.decision_file }}
                          </a>
                        </td>
                        <td>
                          <router-link
                            :to="{
                              name: 'decision.edit',
                              params: { id: item.id }
                            }"
                            class="btn btn-dark btn-sm mr-1"
                            data-placement="right"
                            title="Sửa"
                          >
                            <i class="fas fa-edit"></i>
                          </router-link>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger btn-sm mr-1"
                            @click="remove(item.id)"
                            data-placement="right"
                            title="Xóa"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="text-center text-red"
                  v-if="list_decisions.length === 0"
                >
                  <h3>Hiện không có kết quả bạn cần tìm!</h3>
                  <p>Vui lòng thử lại...</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <span>Hiển thị</span>
                  <span>
                    <select v-model="params.per_page" @change="search">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100000">Toàn bộ</option>
                    </select>
                  </span>
                  <span>/ {{ list_decisions.total }} quyết định</span>

                  <div style="float: right">
                    <paginate
                      :page-count="parseInt(list_decisions.last_page)"
                      :page-range="3"
                      :margin-pages="2"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                    >
                    </paginate>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Main row -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <div v-if="setUserDetails.role === 'checker' || !setUserDetails.role">
      <error403></error403>
    </div>
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import DecisionService from "../../services/decision";
import Paginate from "vuejs-paginate";
import * as _ from "lodash";
import axios from "../../axios";
import Error403 from "../error/index403";
import { mapGetters } from "vuex";

export default {
  name: "Index",
  components: {
    Paginate,
    Error403
  },
  data() {
    return {
      list_decisions: [],
      isLoading: false,
      searchAll: "",
      sign_date: "",
      received_date: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Quyết định", key: "decision_id", sort: true },
        { title: "Ký", key: "sign_date", sort: true },
        { title: "Nhận", key: "received_date", sort: true },
        { title: "Trích yếu", key: "description", sort: true },
        { title: "Tệp đính kèm", key: "decision_file", sort: true }
      ]
    };
  },
  created() {
    this.getList();
  },
  computed: {
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    },
    ...mapGetters({
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    createData() {
      this.$router.push("/decision/add");
    },
    editData() {
      this.$router.push("/decision/edit");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      DecisionService.getPaginate(
        p.page,
        p.per_page,
        p.sort_column,
        p.direction
      )
        .then(response => {
          this.isLoading = false;
          this.list_decisions = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getFilter();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      this.params.page = 1;
      let p = this.params;
      DecisionService.getSearch(
        p.page,
        p.per_page,
        p.sort_column,
        p.direction,
        {
          keyText: this.searchAll
        }
      ).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.sign_date = "";
          this.received_date = "";
          this.list_decisions = response.data.data;
        } else {
          this.getFilter();
        }
      });
    },
    getFilter() {
      let p = this.params;
      axios
        .post(
          "decision/searchOptions?page=" +
            p.page +
            "&per_page=" +
            p.per_page +
            "&sort_column=" +
            p.sort_column +
            "&direction=" +
            p.direction,
          {
            sign_date: this.sign_date,
            received_date: this.received_date
          }
        )
        .then(response => {
          this.params.page = 1;
          this.searchAll = "";
          this.list_decisions = response.data.data;
        });
    },
    remove(id) {
      this.$swal({
        title: "Xác nhận xóa",
        text: "Bạn có muốn xóa không?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Thôi",
        preConfirm: () => {
          return DecisionService.remove(id)
            .then(response => {
              this.getList();
              console.log(response);
            })
            .catch(e => {
              this.errors.push(e);
            });
        }
      }).then(result => {
        if (result.value) {
          this.$swal({
            showConfirmButton: false,
            timer: 10000,
            icon: "success",
            title: "Thông báo",
            text: "Yêu cầu đã xóa thành công"
          });
          this.$emit("ok");
        }
      });
    }
  }
};
</script>
